{% for item in rows  %}
    {% if item.youtubeId is not empty %}
        {% set url = "https://img.youtube.com/vi/" ~ item.youtubeId ~ "/mqdefault.jpg" %}
    {% else %}
        {% set url = item.image %}
    {% endif %}
    <div class="col-md-3 block-card">
        <div class=" card-campanha  parent-zoom ">
            <a class="campanha-title" href="{{ bloginfo("url") }}/content/{{ item.id }}">
                <img class="img-fluid" src="{{ url }}">
                <div class="p-2">
                    {{ item.title }}
                </div>
            </a>
        </div>
    </div>
{% endfor %}