<div id="topoCampanha" class="mb-4">
    <img class="img-fluid" src="{{campanha.image}}">
</div>
<div id="muralCampanha">
    <div class="row">
        <div class="col-md-9">
            <div class="info block d-flex align-items-center">
                <div class="pl-3 pr-3 pt-2 pb-2 icon">
                    <i class="fas fa-info"></i>
                </div>
                <div class="pl-3 pr-2 pt-2 pb-2 text">
                    {{ campanha.description }}
                </div>
            </div>
        </div>
        <div id="searchCampanha" class="col-md-3">
            <div class="action block d-flex align-items-center w-100">
                {% if content is not defined and page_name == 'campanha_show'%}
                    <form id="search" action="" method="get" class="p-3 w-100 ">
                        <div class="input-group w-100 mb-2">
                            <input type="text" class="form-control w-75 field-search" name="s" id="s"
                                   placeholder="Pesquisar" value="{{ get.s }}">
                            <span class="">
                                <button type="submit" class="" aria-label="Pesquisar" title="Pesquisar">
                                    <i style="font-size: 1rem; " class="fas fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <a href="{{ bloginfo("url") }}/extensao/{{ campanha.url }}/sobre" class="other">
                            Sobre
                        </a>
                    </form>

                {% else %}
                    <a style="font-size: 1rem" class="other p-3" href="{{ bloginfo("url") }}/extensao/{{ campanha.url }}">
                        <i class="fas fa-arrow-left"></i> Inicio
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>