<div id="muralCampanha" class="mb-4">
    <div class="row">
        <div class="col-md-9">
            <div class="info block d-flex align-items-center">
                <div class="pl-3 pr-3 pt-2 pb-2 icon">
                    <i class="fas fa-info"></i>
                </div>
                <div class="pl-3 pr-2 pt-2 pb-2 text">
                    Conheça também
                    <a href="https://memoriascovid19.unicamp.br/" target="_blank">#MEMÓRIASCOVID19</a>
                    <br/>
                    <small>
                    "Qual o seu olhar sobre os tempos de Pandemia? Como serão, a médio prazo, nossas memórias
                    dessa vivência dramática? Neste espaço, você pode relatar experiências vivenciadas durante o
                    isolamento social e que podem ser expressas em textos, fotos, vídeos, desenhos, poemas, canções,
                    áudios, anonimamente ou não."
                    </small>
                </div>
            </div>
        </div>
        <div id="searchCampanha" class="col-md-3 ">
            <img class="img-fluid" src="https://www.iar.unicamp.br/wp-content/uploads/2021/05/memoria.png">
        </div>
    </div>
</div>