{% extends 'twig/base.twig' %}
{% import 'twig/macros.twig' as macros%}

{% block css %}
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <style>

        .nav-tabs {
            margin-bottom: 0 !important;
            border-bottom: none !important;
        }

        .nav li { margin: 0.3rem 0.1rem 0 0.1rem; }

        .nav li a {
            display: block;
            background: rgba(0, 0, 0, 0.7);
        }

        .nav li a:hover, .nav li a.active{ background: none !important;}

        .nav a .text {
            color: #fff;
            padding-top: 250px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 1.3rem !important;
            font-family: 'Quicksand', sans-serif;
            text-shadow: rgba(0,0,0,.6) 0 1px 3px;
        }

        .tab-pane { padding: 5px 15px 0 15px;}

        .block-card { padding: 5px !important;}

        .card-campanha {
            background: none !important;
            box-shadow: none;
            font-weight: bold;
        }

        .card-campanha a {color: inherit;}

        .card-campanha img{ border-radius: 15px !important;}

        .nav li {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center;
        }

        @media only screen and (max-width: 769px) {
            .nav a div.text {
                padding-top: 50px;
            }
        }
    </style>

{% endblock %}

{% block wrapper %}
    {# bloco videos #}
    <div class="container">
        <div class="mb-4">
            {% include 'twig/extensao/block.topo.twig' %}
        </div>
        {% if get.s is defined %}
            <div class="mt-4">
                <h2>Resultado da busca "{{ get.s }}"</h2>
                <a class="mb-2" href="./">Limpar busca</a>
                <div class="row">
                {%  include 'twig/extensao/block.content.twig' with {'rows' : search} %}
                </div>
                {% if search is empty %}
                    <p>Nao foram encontrados resultados</p>
                {% endif %}
            </div>
        {% else %}
        <div class="d-flex flex-column">
            <div class="mb-4 ">
                <ul class="nav nav-tabs d-flex ">
                    {% for item in data.categories %}
                        <li style="background-image: url('{{ item.image }}')"
                            class="flex-fill"
                        >
                            <a class="{% if loop.index == 1 %}active{% endif %}"  data-toggle="tab"
                               href="#menu{{ loop.index }}">
                                <div class="text">
                                    {{ item.name }}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content mt-4">
                    {% for category in data.categories %}
                        <div id="menu{{ loop.index }}"
                        class="tab-pane fade in {% if loop.index == 1 %}active{% endif %} mb-4">
                            <div class="row">
                                {% if category.rows is not defined %}
                                    <span>Nenhuma produção artística-cultural encontrada na categoria {{ category.name }}</span>
                                {% endif %}

                                {%  include 'twig/extensao/block.content.twig' with {'rows' : category.rows} %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
{#        {% include 'twig/extensao/block.footer.twig' %}#}
{% endblock %}

{% block jscustom %}
    <script type="text/javascript" src="{{template_directory}}/js/jquery.mosaic.min.js"></script>
    <script type="text/javascript" src="{{template_directory}}/js/campanha.js"></script>
{% endblock %}