{% extends 'twig/base.twig' %}
{% import 'twig/macros.twig' as macros%}

{% block css %}
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <style>
        .block { font-size: 1.2rem; }
        .block.info {
            border: 1px solid #F2BB05;
        }

        .block.info .icon { background: #F2BB05}

        .block.action {
            border: 1px solid #003B75
        }

        .block.action .text {
            color: white;
        }

        .block.action .icon {color: white}

        .block.action  { background: #003B75;}

        .nav-tabs {
            margin-bottom: 0 !important;
            border-bottom: none !important;
        }

        .nav li { margin: 0.3rem 0.3rem 0 0; }

        .nav li a {
            display: block;
            background: rgba(0, 0, 0, 0.7);
        }

        .nav li a:hover, .nav li a.active{ background: rgba(114, 75, 119, 0.5)}

        .nav a .text {
            color: #fff;
            padding-top: 250px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 1.3rem !important;
            font-family: 'Quicksand', sans-serif;
            text-shadow: rgba(0,0,0,.6) 0 1px 3px;
        }

        .tab-pane { padding: 5px 15px 0 15px;}

        .block-card { padding: 5px !important;}

        .card-campanha {
            background: none !important;
            box-shadow: none;
            font-weight: bold;
        }

        .card-campanha a {
            color: inherit;
        }

        .card-campanha img{
            border-radius: 15px !important;
        }
    </style>

{% endblock %}

{% block wrapper %}
    {# bloco videos #}
    <div class="container">
        {% for campanha in campanhas %}
            <div id="topoCampanha" class="mb-4">
                <a href="{{ bloginfo("url") }}/campanha/{{ campanha.id }}">
                    <img class="img-fluid" src="{{campanha.image}}">
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block jscustom %}
    <script type="text/javascript" src="{{template_directory}}/js/campanha.js"></script>
{% endblock %}