{% extends 'twig/base.twig' %}
{% import 'twig/macros.twig' as macros%}

{% block custom_head %}
    <meta property="og:url"           content="{{ bloginfo("url") }}/content/{{ content.id }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ extensao.nome }}" />
    <meta property="og:image"         content="{{ extensao.imagem }}" />
{% endblock %}

{% block wrapper %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
    <div class="title-block">
        <div class="container">
            {{ macros.block_title_area(extensao.sigla ~': '~ extensao.nome,'Coordenadoria de pesquisa e extensão') }}
        </div>
    </div>
    <div class="container">
        <div class="extensao-page content-page row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="padding-20">
                        <div id="content-details">
                            <img class="mb-2" src="{{ extensao.imagem }}">
                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-green-sec"><i class="far fa-building"></i></div>
                                <div class="p-1">
                                    <strong>Tipo</strong>
                                    <br>{{ extensao.tipo }}
                                </div>
                            </div>
                            <br/>
                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-green-sec"><i class="fas fa-user"></i></div>
                                <div class="p-1">
                                    <strong>Professor responsável</strong>
                                    <br>{{ extensao.responsavel }}
                                </div>
                            </div>
                            <br/>


                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-red"><i class="far fa-calendar"></i></div>
                                <div class="p-1">
                                    <strong>Período de inscrição</strong>
                                    <br>De {{ extensao.data_ini_inscricao }} a {{ extensao.data_fim_inscricao }}
                                </div>
                            </div>
                            <br/>
                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-red"><i class="far fa-calendar"></i></div>
                                <div class="p-1">
                                    <strong>Período de oferecimento</strong>
                                    <br>De {{ extensao.data_ini_oferecimento }} a {{ extensao.data_fim_oferecimento }}
                                </div>
                            </div>
                            <br/>
                            <div class="d-flex align-content-start flex-column justify-content-start">
                                {% if extensao.link is not empty and extensao.ini_inscricao <= date() and extensao.fim_inscricao >= date() %}
                                <a href="{{ extensao.link }}" class="btn btn-ia fluid mb-2">Inscrever-se</a>
                                {% endif %}

                                {% if date() < extensao.ini_inscricao or date() > extensao.fim_inscricao %}
                                    <a onclick="window.open('{{ function('get_WWW4_PUBLIC') }}/public/cursoExtensao/{{ extensao.id }}/contato/new?avise=true', '_blank', 'location=yes,height=800,width=800,scrollbars=yes,status=yes');"
                                       class="btn btn-ia fluid mb-2">Avise-me</a>
                                {% endif %}
                                <a class="btn btn-ia fluid mb-2" onclick="window.open('{{ function('get_WWW4_PUBLIC') }}/public/cursoExtensao/{{ extensao.id }}/contato/new', '_blank', 'location=yes,height=800,width=800,scrollbars=yes,status=yes');"
                                >Fale conosco</a>

                                <a  href="{{ bloginfo("url") }}/cursosExtensao" class="btn btn-secondary mb-2">Mais cursos</a>
                                <a href="{{ bloginfo("url") }}" class="btn btn-secondary mb-2">Home</a>

                            </div>
                        </div>

                    </div>
                </div>
                <br/>
            </div>

            <div class="col-md-8">
                <div class="body-block">
                    <div class="fb-like"
                         data-href="{{ bloginfo("url") }}/content/{{ extensao.id }}"
                         data-share="true"
                         data-layout="standard"
                         data-action="like"
                         data-show-faces="true">
                    </div>
                    {{ extensao.body|raw }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}