{% extends 'twig/base.twig' %}
{% import 'twig/macros.twig' as macros%}

{% block wrapper %}
    <div class="title-block">
        <div class="container">
            {{ macros.block_title_area('Extensão','Coordenadoria de pesquisa e extensão') }}
        </div>
    </div>


    <div id="content-page" class="container">

        {% for item in rows %}

            <h2 class="mt-3 mb-3">{{ item.tipo }}</h2>

            <table class="table table-striped">
                <thead class="thead-dark">
                <th>Sigla</th>
                <th>Nome</th>
                <th>Inscrição</th>
                <th>Oferecimento</th>
                <th></th>
                </thead>
                {% for row in item.rows %}
                    <tr>
                        <td>{{ row.sigla }}</td>
                        <td>{{ row.nome }}</td>

                        <td>De {{ row.ini_inscricao|date('d/m/Y') }} a {{ row.fim_inscricao|date('d/m/Y') }}</td>
                        <td>De {{ row.ini_oferecimento|date('d/m/Y') }} a {{ row.fim_oferecimento|date('d/m/Y') }}</td>
                        <td><a class="btn btn-primary"href="cursosExtensao/{{ row.id }}">+ Detalhes</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}

        <h3 class=""><img src="https://img.icons8.com/dusk/64/000000/chat.png"> Não encontrou o curso que procura? Você pode sugerir novos cursos
        <a href="mailto:iaexten@iar.unicamp.br">aqui</a></h3>
        <p>Os cursos de especialização do Instituto de Artes da Unicamp foram desenvolvidos para preparar e atualizar profissionais.
            Nossos cursos são classificados como modalidade extensão universitária, atendendo a norma
            <a href="https://www.pg.unicamp.br/mostra_norma.php?id_norma=2160">CEPE 04/2003</a>
            e não atendem a resolução <a href="http://portal.mec.gov.br/docman/abril-2018-pdf/85591-rces001-18/file">CNE/CES n°01 de 06/04/2018</a>
            do Ministério da Educação - MEC</p>
    </div>

{% endblock %}