
{% set imagem_topo = function('getTopo') %}
{% if imagem_topo is not empty %}
    <div id="imagem-topo" class="row mb-2">
        <div class="col-sm-12">
            <div class="d-flex block align-items-end justify-content-end" style="background-image: url('{{ imagem_topo }}')">
                <p class=" text p-2 mb-0 ">{{ function('getParentName') }}</p>
            </div>
        </div>
    </div>
{% endif %}