<!-- VUE -->
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{template_directory}}/vue/field.js"></script>
<script src="{{template_directory}}/vue/edital.js"></script>
<script src="{{template_directory}}/vue/grupopesquisa.js"></script>
<script src="{{template_directory}}/vue/laboratorio.js"></script>
<script src="{{template_directory}}/vue/equipamentos.js"></script>
<script src="{{template_directory}}/vue/projetos.js"></script>

<script>
    $(document).ready(function () {
        new Vue({
            el: '#vueapp',
            vuetify: new Vuetify(),
        });
    })
</script>
