<div class="card-content">

    {% if content.image is not empty %}
        <img class="img-fluid" src="{{ content.image }}"><br/>
        {% if content.credito is not empty %}
        <small class="credito p-1">foto: {{ content.credito }}</small>
        {% endif %}
    {% endif %}
    <div class="padding-20">
        <div id="content-details">
            {% if content.inicio is not empty %}
                <div class="d-flex align-content-start flex-wrap justify-content-start">
                    <div class="p-1 c-red"><i class="far fa-calendar"></i></div>
                    <div class="p-1">
                        <p>
                            <strong>{{ content.inicio|date('D')|capitalize }}, {{ content.inicio|date('d') }} de {{ content.inicio|date('M') }} de {{ content.inicio|date('Y') }}</strong>
                            <br>
                            {% if content.horario_inicio is not empty %}
                                <small>
                                    {{ content.horario_inicio }}hs
                                    {% if content.fim is not empty %}
                                        até {{ content.horario_fim }}hs
                                    {% endif %}
                                </small>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if content.dataProducao is not empty %}
                <div class="d-flex align-content-start flex-wrap justify-content-start">
                    <div class="p-1 c-red"><i class="far fa-calendar"></i></div>
                    <div class="p-1">
                        <p>
                            <strong>{{ content.dataProducao }}</strong><br/>
                            <small>Data da produção</small>
                        </p>
                    </div>
                </div>
            {% endif %}

            {% if content.local is not empty %}
                <div class="d-flex align-content-start flex-wrap justify-content-start">
                    <div class="p-1 c-orange"><i class="fas fa-map-marker"></i></div>
                    <div class="p-1">
                        <p>
                            <strong>{{ content.local }}</strong><br/>
                            <small>Local</small>
                        </p>
                    </div>
                </div>
            {% endif %}

            {% if content.mail is not empty %}
                <div class="d-flex align-content-start flex-wrap justify-content-start">
                    <div class="p-1 c-green"><i class="fas fa-envelope"></i></div>
                    <div class="p-1">
                        <p>
                            <strong>{{ content.mail }}</strong><br/>
                            <small>Contato</small>
                        </p>
                    </div>
                </div>
            {% endif %}

            {% if content.open is not empty %}
                <div class="d-flex align-content-start flex-wrap justify-content-start">
                    <div class="p-1 c-green-sec"><i class="fas fa-users"></i></div>
                    <div class="p-1">
                        <p>
                            <strong>Aberto a:</strong>
                            <br>{{ content.open }}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
