<script type="text/javascript" src="{{template_directory}}/js/jbcore/juicebox.js"></script>
<script type="text/javascript">
    new juicebox({
        containerid:'juicebox-container',
        configUrl: '{{ content.carouselConfigXML }}',
        backgroundColor:'rgba(0,0,0,.9)',
        galleryHeight:'600',
        galleryWidth:'100%'
    });
</script>
<div id="juicebox-container"></div>