<form id="search" action="{{ function('bloginfo',"url") }}" method="get" class="">
    <div class="input-group">
        <input type="text" class="form-control"  name="s" id="s" placeholder="{{ search }}"/>
        <span class="input-group-btn">
            <button type="submit" class="" aria-label="Pesquisar" title="Pesquisar">
                <i class="fas fa-search"></i>
            </button>
        </span>
    </div>
</form>

