ul#ultimas-aquisicoes {
	margin:0;
}
ul#ultimas-aquisicoes li {
	text-align:center;
	margin:0 46px 20px 0;
	width:144px;
	padding:0;
	vertical-align:top;
}
ul#ultimas-aquisicoes li.last {
	margin:0;
}

ul#ultimas-aquisicoes li h5 {
	margin:7px 0;
	line-height:16px;
}
ul#ultimas-aquisicoes li h6 {
	color:#999;
	margin:0;
}