div#ultimas-aquisicoes h3 {
/*	float:left;	*/
}
div#ultimas-aquisicoes p {
	float:right;
}
div#ultimas-aquisicoes ul {
	margin:0;
}
div#ultimas-aquisicoes ul li {
	text-align:center;
	margin:0 35px 0 0;
	width:144px;
	padding:0;
	vertical-align:top;
}
div#ultimas-aquisicoes ul li:last-child {
	margin:0;
}
div#ultimas-aquisicoes ul li h5 {
	margin:7px 0;
	line-height:16px;
}
div#ultimas-aquisicoes ul li h6 {
	color:#999;
	margin:0;
}


div.modal-dialog {
	margin-top:200px;	
}
div.modal h2 {
	margin:0;	
}


/*
div#ultimas-aquisicoes img:last-child {
	margin:0;
}
*/