span.disponivel { color:#00e300	}
span.indisponivel { color:#ef0000; }

span.Otimo    { color:#2dc44d; }
span.Bom      { color:#faeb00; }
span.Razoavel { color:#fd6204; }
span.Sofrivel { color:#d40124; }

div.col-md-9 nav {
	text-align:center;	
}

a.detalhes {
	float:right;
	color:#337ab7;
}
a.detalhes:hover {
	color:#23527c;
	background:#eee;
}


/* PARTITURAS e VIDEOTECA */
body.page-id-16 table table,
body.page-id-18 table table {
	margin-bottom:0;
	background:none !important;
	border:none !important;
}
body.page-id-16 table table td,
body.page-id-18 table table td {
	border:none !important;
}

div.alert h3 {
	margin-top:0;	
}

iframe {
	width:100% !important;
	margin-top:20px;	
}

fieldset {
	margin-bottom:15px;	
}