.card-evento, .card-home {
    background: #fff;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    margin: 0 15px;
}

.card-evento {
    max-width: 350px;
    min-width: 200px;
}

.card-evento a {
    color: #333;
}

#carousel-section {
    background: var(--color-brown);
}

#carousel-section .slick-slide {
    height: auto;
}

#carousel-section .block-title .title{
    color: #fff
}

#content .slick-arrow:before {
    font-size: 2rem;
}

.slick-slider {
    padding-left: 12px;
}

.slick-slider .slick-dots li button:before { color: #fff;}

.slick-slider .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1 !important;
}

.card-evento .date{
    background: #2f2424;
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
    color: #fff;
}

.card-evento .description {
    position: absolute;
}

.card-evento .date {
    position: relative;
    bottom: 30px;
    margin-left: 20px;
    width: 62px;
}

.card-evento .date > span {
    display: block;
    text-align: center;

}

.card-home .date .day  {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
}

.card-home .text {
    padding: 40px 20px 20px 20px;
    font-weight: bold;
}

.card-evento .child-zoom {
    height: 300px;
}

@media only screen and (max-width: 768px) {
    .home-section .slick-arrow {
        display: none !important;
    }

    .card-area {
        display: block;
    }
}
