body a:hover {
    text-decoration: none;
}

/** SIDEBAR **/
.sidebar-block .block-title {
    background: #707070;
    color: #fff;
    font-size: 1.3rem;
    padding: 15px;
    margin-bottom: 15px;
}

.color-light {
    color: var(--color-font-lighter);
}

.font-lighter {
    font-weight: lighter;
}

.font-80 {
    font-size: .8em;
}

.bold {
    font-weight: bold;
}

.not-home #content {
    background-color: #f2f1eb;
    min-height: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.not-home #slider-wrapper {
    padding-bottom: 15px;
}


.not-home  #slider .nivo-caption {
    font-size: 1rem;
}

#content #slider {
    max-height: 200px;
}

.content-page img{ max-width: 100% !important; height: auto !important;}

.bg-block {
    background: var(--color-block);
}


/** BREADCRUMBS **/
ul#breadcrumbs {
}
ul#breadcrumbs li {
    display: inline-block;
    font-size: 0.9rem;
    padding:0 3px;
}
ul#breadcrumbs li:first-child {
    padding-left:0;
}
body.events-single ul#breadcrumbs,
body.events-archive ul#breadcrumbs {
    /*display:none;*/
}

p#breadcrumbs a {
    color:#374e8a;
}

div#menu-lateral nav, .page-menu{
    margin-bottom:15px;
    background: #ece2c1;
}

/** MENU LATERAL **/
#menu-lateral nav > ul {
    margin: 0;
}

#menu-lateral nav ul {
    padding: 0;
}

#menu-lateral nav li, .page-menu li {
    color:#333;
    list-style: none;
    padding: 0 15px;
}

#menu-lateral li.current_page_item > a{
    font-weight: bold;
}

#menu-lateral nav li a, .page-menu li a {
    display:block;
    padding:10px 0;
    transition:all 0.2s ease;
    color:#333;
}

div#menu-lateral nav#menu-especifico ul li {
    border-color:#fff;
}


div#menu-lateral div.contato {
    background:#ccc;
    color:#333;
    padding:15px;
    margin-bottom:20px;
}

div#menu-lateral div.contato ul {
    margin-bottom:0;
}

/** Content-page **/
.title-block {
    background: var(--color-brown);
    color: #fff;
    padding: 40px 0;
}

.title-block a:hover {
    color: #fff;
    font-weight: bold;
}

.title-block .type {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.title-block #breadcrumbs { margin-bottom: 0;}
.title-block #breadcrumbs a { color: #fff}

.card-content {
    background: #fff;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}

.content-page > div {
    margin-top: 15px;
    margin-bottom: 20px;
}

/** PAGE MENU **/
.page-menu, .page-menu ul{
    list-style: none;
    margin-left: 0;
}

.page-menu li{
    list-style: none;
    margin: 0;
}

.page-menu .current_page_parent > a{
    font-weight: bold;
}

.card-avisos {
    border-left: 5px solid var(--color-posgraduacao);
    background: var(--color-posgraduacao-transparent);
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
}

.card-avisos .content {
    padding: 15px;
}

#table-func tr{
    border: 1px solid #ccc;
}

ul.pagination {

    margin: 0 0 15px 0;
}
ul.pagination li{
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.table-ia {
    background: white;
}

.table-ia tr.warning {
    background: var(--color-graduacao);
}

/** CONTENT PAGE **/
#content-page img {
    max-height: 150px;
    max-width: 150px;
}

#content-page .card {
    margin-bottom: 15px;
}

#content-filter {
    background: var(--color-green);
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

#content-page {min-height: 600px;}

#content-filter #datepicker {
    border-bottom: 1px solid white;
    padding: 8px 0;
}

#content-filter i.gj-icon{
    color: #fff;
}

/** Administracao **/
.administracao .card .card-title {
    background: var(--color-green);
    padding: 1.25rem;

}

.administracao .card .card-title a { color: #fff; }
.administracao .card a { display: block }

/** TABLE **/
.tabbable {

}

.tabbable .nav-tabs {
    border-bottom: none;
    width: 100%;
}

.tabbable li a.active{
    border-bottom: 3px solid var(--color-primary);
}

.tabbable li.active a {

}

.tabbable li a {
    background: #fff;
    border-bottom: 3px solid var(--color-block);
    padding: 15px;
}

.tabbable table {
    background: white;
}

.tab-content> .fade.active {
    opacity: 1;
}

.tabbable .panel-heading {
    background: #fff;
    padding: 15px;
    border-bottom: 2px solid var(--color-block);
}

#imagem-topo .block {
    min-height: 200px;
}

#imagem-topo .text {
    background: var(--color-secondary-transparent);
    color: #fff;
    text-align: center;
    bottom: 0;
}

.extensao-page img{ width: 100% !important;}

#content-details p{
    line-height: 1.2;
}

/** VUETIFY **/
body .theme--light.v-pagination .v-pagination__item--active {
    background-color: var(--color-primary);
}