#defesas-section .card-defesa {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
}

.card-defesa  {
    padding: 15px;
    border-bottom: 2px solid var(--color-secondary);

}

.card-defesa > div {
    padding: 0 5px;
}

.card-defesa .calendar > div {
    background: var(--color-brown);
    color: #fff;
    display: block;
    text-align: center;
    padding: 5px;
}

.card-defesa  .calendar div.type {
    background: var(--color-primary-dark);
    font-size: 0.8rem;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.card-defesa .c-pg{
    color: var(--color-posgraduacao);
}

.card-defesa .description > div {
    margin-bottom: 5px;
}

.card-defesa .description > .title {
    font-weight: bold;
}

.card-defesa a {color: #333}

.card-defesa .month {display: block;}