#muralCampanha p{
    margin-bottom: 0 !important;
}

.action.block {
    height: 100%;
}

#searchCampanha, #searchCampanha input, #searchCampanha input::placeholder {
    color: #fff;
}

#searchCampanha #search {
    margin: 0;
}

#searchCampanha .input-group {
    border: 1px solid #fff;
    border-radius: 3px;
}
#searchCampanha input.field-search {
    background: none;
    border: none;
    border-radius: 0;
    padding: 15px;
}

#muralCampanha .block { font-size: 1.2rem; }
#muralCampanha .block.info {
    border: 1px solid #F2BB05;
    height: 100%;
}

#muralCampanha .block.info .icon { background: #F2BB05}

#muralCampanha .block.action {
    border: 1px solid #003B75
}

#muralCampanha .block.action .text {
    color: white;
}

#muralCampanha  .block.action  { background: #003B75;}

#muralCampanha div.input-group {max-width: inherit}

#muralCampanha .other { color: #fff; font-size: 0.8rem; padding-left: 2px}

.campanha-title {
    font-size: 0.9rem;
    text-transform: uppercase;
}