/*
Theme Name: GAIA
Description: Tema do site da GAIA do Instituto de Artes
Author: Instituto de Artes
Author URI: http://www.iar.unicamp.br
*/

/*
	Cor azul GAIA: #1c6987
	Cor roxa: #78196b
	Cor preta: #1f1a17
*/

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
	line-height: 1.42857143;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
	color: #1c6987;
}

a:hover{
	text-decoration: none;
}

#brand-menu{
	padding: 0 1px 0 15px;
}

.navbar-gaia{
	background: #1c6987;
	color: white;
	border-radius: 0;
	border: 0;
	min-height: 46px;
}
.navbar-gaia .nav{
	margin: 0;
}
.navbar-gaia li{
	border: 1px solid #1c6987;
}
.navbar-gaia li > a{
	color: white !important;
	text-transform: uppercase;
	padding: 12px 0;
}
.navbar-gaia li > a:hover,
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus{
	background: white !important;
	color: #1c6987 !important;
}
.navbar-gaia li.current_page_item,
.navbar-gaia li.current-menu-parent,
.navbar-gaia li.current-menu-parent:focus,
.navbar-gaia li.current-menu-parent:hover{
	background: white !important;
	color: #1c6987 !important;
	border-bottom-color: white;
}
.navbar-gaia li.current_page_item > a,
.navbar-gaia li.current-menu-parent > a,
.navbar-gaia li.current-menu-parent:focus > a,
.navbar-gaia li.current_page_item > a{
	color: #1c6987 !important;
}

.navbar-gaia li.dropdown > a:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.navbar-gaia li.dropdown > a:focus:after,
.navbar-gaia li.dropdown > a:hover:after,
.navbar-gaia li.dropdown > a:focus:after,
.navbar-gaia li.dropdown > a:hover:after,
.navbar-gaia li.current_page_item.dropdown > a:focus:after,
.navbar-gaia li.current_page_item.dropdown > a:hover:after{
    border-top: 4px solid #1c6987;
}

.navbar-gaia .navbar-toggle .icon-bar {
    background: white;
	width: 54px;
    height: 11px;
}

.dropdown-menu {
	background: #1c6987;
	color: white;
}
.dropdown-menu > li > a {
	color: white;
	padding: 5px 10px;
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
   background: white !important;

}

.gaia-map{
	background: url('../img/bg-map-unicamp.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding: 15px 0;
}
.gaia-map h3{
	color: white;
}

/*Margin Helpers*/
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}


@media (max-width:995px){
	#conteudo-pagina h1,
	#conteudo-pagina h2,
	#conteudo-pagina h3,
	#conteudo-pagina h4,
	#conteudo-pagina h5,
	#conteudo-pagina h6,
	#conteudo-pagina{
		font-size: 220%;
	}
	
	#brand-menu{
		padding: 15px;
	}
	#brand-menu img{
		padding: 15px;
	}
	
	.navbar-header {
        float: none;
    }
	
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-collapse.collapse.in{
		display: block!important;
	}
	
	
	.navbar-gaia {
		padding-top: 20px;
		padding-bottom: 20px;
	}
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
	.navbar-nav a{
		font-size: 220%;
    }
    .navbar-nav>li {
        float: none;
		width: 100%;
		clear: both;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

	.navbar-collapse li,
	.navbar-collapse li .dropdown-menu li{
        float: none;
		width: 100%;
		clear: both;
		display: block;
    }
	.navbar-collapse li a{
       font-size: 240%;
    }
	.navbar-collapse li .dropdown-menu li a{
       font-size: 240%;
    }
	
	.navbar-gaia li.dropdown > a:after {
		border: 10px solid transparent;
		border-top: 10px solid white;
	}
	
	.dropdown-menu{
        width: 100%;
		position: relative;
		text-align: center;
		background: #3390b4;
    }
	.dropdown > a:after {
		border: 15px solid transparent;
		border-top: 15px solid white;
	}
	
}
	
	
}
@media (max-width:767px){
	
}
@media (max-width:400px){
	
}