/* HEADER */
#error-page header {
    display: none !important;
}

body.not-home #header {position: relative;}

body.logged-in {
    margin-top: 32px;
}

#header #menus{
    z-index: 9;
}

#header a {
    text-decoration: none;
}

.home .navbar-main {

}

.home #header #menus {
    background: var(--color-primary-transparent);
}


.not-home #header #menus { background: var(--color-primary);}
.not-home #header.header-pós-graduação #menus{ background: var(--color-posgraduacao);}
.not-home #header.header-graduação #menus{ background: var(--color-graduacao);}
.not-home #header.header-pesquisa-extensao #menus{ background: var(--color-pesquisa-extensao);}
.not-home #header.header-biblioteca #menus{ background: var(--color-biblioteca);}
.not-home #header.header-galeria #menus{ background: var(--color-galeria);}
.template-pos-graduacao #header #menus{background: var(--color-posgraduacao);}

/* START IA 50 ANOS */
.not-home #header.header-ia50anos #menus{
    box-shadow: 0 0 10px rgb(0 0 0 / 15%), 0 3px 3px rgb(0 0 0 / 15%);
    transition: box-shadow .5s ease .5s;
    background: var(--color-ia50anos);
}


#header nav #menu-ia50anos li a:hover {
transition: color .3s ease-in,background-color .3s ease-in;
border-bottom: 3px solid var(--color-ia50anos-darker);
}

#header nav #menu-ia50anos li a {
transition: color .3s ease-in,background-color .3s ease-in;
border-bottom: 3px solid var(--color-ia50anos);
}

/* END IA 50 ANOS */

#logos {
background: rgba(255, 255, 255, .9);
}

#logos a {
margin: 10px;
}

#header a {
color: #fff;
text-shadow: rgba(0,0,0,.6) 0 1px 3px;
}

@media only screen and (max-width: 1024px) {
#header .menu-servicos a {
    padding: 5px;
}
}

#header nav #menu-graduacao li a:hover { background-color: var(--color-graduacao-darker);}
#header nav #menu-pos-graduacao li a:hover {background-color: var(--color-posgraduacao-darker);}
#header nav #menu-pesquisa-extensao li a:hover {background-color: var(--color-pesquisa-extensao-darker);}
#header nav #menu-biblioteca li a:hover {background-color: var(--color-biblioteca-darker);}
#header nav #menu-galeria li a:hover {background-color: var(--color-galeria-darker);}


#nav-first .menu-item{
padding: 15px 8px;
}

#header img {
max-height: 60px;
}

#header img.logo-ia {
max-height: 100px;
}

#header img.logo-unicamp {
margin-top: 28px;
}

/** PRINCIPAL **/
.menu-principal > li{
    font-weight: 600;
}

#nav-principal {
    padding: 0;
}

.template-pos-graduacao #nav-principal ul > li {
    font-size: 1rem;
}

#menu-principal > li:hover a,
#menu-principal-en > li:hover a,
#menu-principal-es > li:hover a,
#menu-principal-fr > li:hover a
{
    background: var(--color-primary-dark);
}

#nav-pós-graduação ul > li:hover a{background: var(--color-posgraduacao);}
#nav-graduação ul > li:hover a{background: var(--color-graduacao);}
#nav-pesquisa-extensao ul > li:hover a{background: var(--color-pesquisa-extensao);}
#nav-biblioteca ul > li:hover a{background: var(--color-biblioteca);}
#nav-galeria ul > li:hover a{background: var(--color-galeria);}

#header .primary-menu li.menu-item li{
    font-size: 1rem;
}

#header .primary-menu .menu-item {
    font-size: 1.2rem;
}


/** SERVICOS **/
.menu-servicos {
    background: var(--color-secondary-transparent);
    font-size: 0.9em;
}

.menu-servicos a {
    padding: 5px 10px;
}

/** LANG **/
li.lang-item {
    display: inline;
    padding-right: 5px;
}


li.lang-item:nth-of-type(3) {
    display: none;
}

li.lang-item:nth-of-type(4) {
    display: none;
}

/** SEARCH **/
#search {
    margin-top: 3px;

}
#search input {
    background: none;
    color: #fff;
    border-left: 1px solid #fff;
    border-right: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 0.7rem;
    max-height: 25px;
}

#search .input-group-btn {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#search input::placeholder, #search i { color: #fff }
#search button {
    background: none;
    border: none;
    height: 100%;
}

#search .input-group {
    max-width: 200px;

}

/** MENU RESPONSIVE **/
#menu-responsive i{
    color: #fff;
}

#menu-responsive {
    background: var(--color-primary);
    padding: 27px 5px;
}

#menu-responsive #search {
    margin-top: 5px;
    display: inline-block;
}

#menu-responsive li.menu-item {
    padding: 5px;
}

#menu-responsive .navbar-collapse {
    position: absolute;
    z-index: 99;
    background: var(--color-primary);
    left: 0;
}

.header-pós-graduação #menu-responsive,.header-pós-graduação #menu-responsive .navbar-collapse  {
    background-color: var(--color-posgraduacao);
}

.header-ia50anos #menu-responsive,.header-ia50anos #menu-responsive .navbar-collapse  {
    background-color: var(--color-ia50anos);
}

#menu-responsive #nav-servicos {
    background: var(--color-secondary);
}


.navbar-toggler {
    padding-top: 12px !important;
}

@media only screen and (min-width: 1025px) {
    header ul.main-menu > li { font-size: 1.4rem;}
    header ul.main-menu > li .sub-menu { font-size: 1rem;}
}

@media only screen and (max-width: 1024px) {
    header #menu-principal ul li a{
        font-size: 1.1rem;
        padding: 0 15px;
    }
}


@media only screen and (min-width: 769px) {
    .home #header {
        position: absolute;
        width: 100%;
        z-index: 9;
    }

    .navbar-main {
        margin-top: 20px;
    }

    header nav ul li a {
        color:#fff;
        display:block;
        padding: 0 10px;
        transition: all 0.2s ease;
    }

    header nav ul li ul li a {
        white-space:nowrap;
        padding-top:10px;
        padding-bottom:10px;
        border:none;
    }

    header nav ul li ul {
        display:none;
        position:absolute;
        transition: all 0.2s ease;
    }

    header nav ul li ul li ul {
        padding-top:0;
        margin-top: -44px
    }

}


header nav#nav-main {
    float:left;
    margin:47px 0 0 0;
    z-index:3;
}
header nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

header nav ul li ul li:hover a{
    background: var(--color-primary-darker);
}

html.no-touch header nav ul li ul {
    opacity:0;
    visibility:hidden;
    display:block;
}
html.touch header nav ul li ul {
    display:none;
}

html.no-touch header nav ul li:hover ul {
    opacity:1;
    visibility:visible;
}

html.no-touch header nav ul li ul li ul {
    opacity:0 !important;
    visibility:hidden !important;
}
html.no-touch header nav ul li ul li:hover ul {
    opacity:1 !important;
    visibility:visible !important;
}


header nav ul.show {
    display:block !important;
}

footer {
    background: #333;
    padding: 20px;
}

footer, footer a {
    color: #fff;
}

.alert.topbar {
    background-color: #F2BB05;
    margin-bottom: 0;

}

.topbar .close, .alert.topbar {
    padding: 0.5rem;
}

.topbar a {
    color: inherit;
}

.topbar a:hover {
    color: inherit;
}