html body {
    font-family: var(--font-primary);
}

body .font-secondary {
    font-family: var(--font-secondary);
}

#home a:hover {
    color: var(--color-font-hover);
}


.home .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.padding-top {
    margin-top: 15px;
}

.padding-bottom { margin-bottom: 15px;}

/** Menu-link **/
.menu-links ul{
    list-style: none;
    margin: 0;
}

.flex-even {flex: 1;}

.menu-links li {
    background: #724b77;
    margin-bottom: 8px;
}
#menu-links-top {
    background: #724b77;
}

.btn.btn-ia {
    background: #670056;
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
    color: #fff !important;
}

.btn.btn-ia:hover { color: #fff !important;}

#menu-links-top .menu-row {
    display: flex; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

#menu-links-top .item{
    text-align: center;
    width: 50%;
}

.bg-section {
    background: #f2f2f2;
}

/** AREAS */
section.home-section  {
    padding: 30px 0;
}

.card-area{
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    color: #fff
}

.card-area.col-G {background-color: var(--color-primary);}
.card-area.col-P {background-color: var(--color-posgraduacao);}

.card-area .nivel {
    display: block;
    font-size: 0.8rem;
}

a.card-area {
    color: #fff;
    font-size: 2rem;
    line-height: 1.7rem;

}

a.card-area.curso-105 {
    font-size: 1.5rem;
}

a.card-area:hover {
    color: #fff !important;
}


.course-row {
    background: var(--color-primary-70);
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.area-name {
    font-size: 1.7rem;
    text-shadow: rgba(0,0,0,.6) 0 1px 8px;
}
/** END AREAS **/

#menu-links-top.menu-cursos .item{ width: 100%;}

#menu-links-top .item:hover {background: rgba(142, 0, 119, 0.1);}

#menu-links-top .bottom .item {margin-bottom: 0}

#menu-links-top .item a{
    color: #fff;
    font-size: 1.3em;
}

#menu-principal-1 > li {
    display: block;
    width: 100%;
}

#menu-links-top img { max-width: 29px}

/** SLIDER **/
#slider img {
    width: 100%;
    height: auto !important;
}

@media only screen and (max-width: 1024px) {
    #home .nivo-caption {
        font-size: 1.2em !important;
    }
}

@media only screen and (max-width: 768px) {
    #home .nivo-caption {
        position: relative !important;
        background: #f2f2f2 !important;
        color: var(--color-font-black) !important;
        text-shadow: none !important;
        font-weight: bold;
        font-size: 1em !important;
    }

    a.card-area { font-size: 1.3rem }
    a.card-area.curso-105 { font-size: 1rem }
}


#content #home #slider {
    max-height: 600px;
}

#home #slider .nivo-caption {
    background: rgb(28,28,28);
    background: linear-gradient(0deg, rgba(28,28,28,1) 0%, rgba(255,253,253,0) 100%);
}


#slider .nivo-caption, #home #slider .nivo-caption{

    font-size: 2rem;
    margin: auto;
    width: 100%;
    color: #F1F1F1;
    opacity: 1 !important;
    padding-bottom: 15px;
    text-shadow: 0.075em 0.075em 0.075em #333;
    text-align: center;
}

#slider .nivo-directionNav > a {
    color: #fff;
    font-size: 2em;
    padding: 10px;
}

#slider .nivo-directionNav > a:hover {
    background: #ccc;
}


body a, .menu-links a {
    color: #ab2b2b;
    word-break: break-word;
}

.home a:hover {
    text-decoration: none;
}

#home .block-title {
    display: block;
    font-size: 3rem;
    margin-bottom: 15px;
}

.block-title.borda{ border-bottom: 1px solid #333;}

.home-section .block-title .title {
    color: var(--color-font-black);
    font-weight: bold
}

#home .bg-section .block-title .title a {
    color: #fff;
}

.block-content img {
    max-width: 100%;
}

/** EVENTOS **/


.block-news section{
    margin-bottom: 20px;
}
/** END EVENTOS **/

.overlay:hover {
    background: rgba(114, 75, 119, 0.5);
}

/** MOSAIC */
.jQueryMosaic>.item>.overlay>.texts {
    background: linear-gradient(0deg, rgba(28,28,28,1) 0%, rgba(255,253,253,0) 100%) !important;
    text-shadow: 0.075em 0.075em 0.075em #333;

}

#mosaic.jQueryMosaic>.item>.overlay{
    opacity: 1;
}


/** STATISTICS **/
#statistics-section .row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 30px;
}
#statistics-section span {
    display: block;
    text-align: center;
}

#statistics-section .col {
    padding: 15px;
}

#statistics-section .number {
    font-size: 1.8rem;
    font-weight: 900;
}


/** FOOTER **/
footer .social i{
    font-size: 2rem;
    padding-left: 5px;
    padding-top: 5px;
}

footer a:hover {
    color: #fff;
}

footer li {list-style: none}

footer ul li li {
    display: none;
}

/** ZOOMING **/
.parent-zoom {
    overflow: hidden;
}

.child-zoom {
    border-radius: 0.2rem;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.parent-zoom:hover .child-zoom,
.parent-zoom:focus .child-zoom {
    transform: scale(1.05);
    transition: all 0.5s ease;
}


.parent-zoom:hover .child-zoom:before,
.parent-zoom:focus .child-zoom:before {
    display: block;
}

.content-zoom {
    position: relative;
    z-index: 1;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.card-extensao a{
    color: #333;
}