.news-block {
    background-position: center;
    background-size: cover;
    min-height: 200px;
}

.news-block .text{
    color: var(--color-font);
    font-weight: 400;
}

.post-block .text{
    background-color: #dfcdc3;
    display: block;
    height: 100%;
}

.post-block a {
    color: var(--color-font);
}

.post-block .tag {
    color: #fff;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 3px;
}

#content-filter .gj-datepicker input{
    color: #fff;
}

.bg-graduacao { background-color: var(--color-graduacao);}
.bg-pos-graduacao { background-color: var(--color-posgraduacao);}
.bg-editais { background-color: var(--color-editais);}
.bg-concursos { background-color: var(--color-processos);}