@import "extensao.css";


#trp-floater-ls {display: none !important;}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters .col,
.mobile-nav{
    width:20%;
    float:left;
}

.menu-btn span {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5PX;
    background: white;
    z-index: 1;
}

.no-padding {
	padding: 0 !important;
}

.menu-btn div {
    position: absolute;
    left: 20px;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 1;
}

.responsive-menu{
    display: none;
}

.responsive-submenu{
    display: none;
}

.expand {
    display: block !important;
}

.open-menu-link{
 display: none;
 position: absolute;
 right: 15px;
 top:0;
 line-height: 55px;
 font-size: 30px;
 cursor: pointer;
}

li .sub-menu{
 display: none;
}

.visible {
 display: block !important;
}

.config { padding: 15px; }

.lang-item {
    display: inline;
}

.corsite, .bg-primary{
    background:#8e0077;
}

#divespacosubmenu{
    height:25px;
}

#trp-floater-ls {display: none}

a, button {
	outline:none !important;
}
a:focus, a:active, a:visited {
	outline:none;
	text-decoration:none;
}


ul, ol {
	padding:0;
	margin:0 0 10px 25px;
}
blockquote {
	font-size:inherit;
}
.panel .list-group {
	margin-left:0;
}
.list-inline {
	margin-left:0;
}

/* tabs */
div.tab-content {
	min-height:700px;
}
ul.nav-tabs {
	margin:0 0 15px 0;
}
/* tabs-left */
.tabs-left ul.nav-tabs {
	float:left;
	margin:0;
	padding:0;
	border:none;
}
.tabs-left ul.nav-tabs li {
	float:none;
	margin-bottom:2px;
}
.tabs-left ul.nav-tabs li a {
	margin-right:-1px;
	border-radius:4px 0 0 4px;
	text-align:right;
}
.tabs-left ul.nav-tabs li.active a {
	border-color:#ddd #fff #ddd #ddd !important;
}
.tabs-left ul.nav-tabs li a:hover {
	border-color:transparent #ddd transparent transparent;
}
.tabs-left div.tab-content {
	overflow:hidden;
	width:auto;
	padding-left:19px;
	border-left:1px solid #ddd;
}
/* tabs-left */

table.table th,
table.table td {
	vertical-align:middle;
}
table.table-center th,
table.table-center td {
	text-align:center;
}

div.padding {
	padding:0 10px;
}



div#slider-wrapper div.nivo-controlNav {
	position:absolute;
	bottom:15px;
	right:15px;
	z-index:999;
	padding:0;
}

div#slider-wrapper div.nivo-controlNav a {
	display:block;
	width:17px;
	height:17px;
	text-indent:-500000em;
	overflow:hidden;
	background-position:left top;
	background-repeat:no-repeat;
	float:left;
	margin:0 5px 0 0;
}
div#slider-wrapper div.nivo-controlNav a.active {
	background-position:left bottom;
}

aside h2 {
	background:#707070;
	color:#fff;
	margin:0 0 20px 0;
	padding:5px 15px;
	font-weight:normal;
	text-transform:uppercase;
	text-align:center;
	font-size:16px;
}
aside section {
	border-top:1px solid #ccc;
	padding:15px 0;
}
aside section.first {
	padding-top:0;
	border:none;
}
aside section > a {
	float:left;
	margin:0 10px 0 0;
}
aside section h3 {
	margin:0;
	font-size:14px;
	line-height:1.2;
}

div.listagem section {
	margin:15px 0 0 0;
	padding:15px 0 0 0;
	min-height:77px;
	border-top:1px solid #ddd;
}
div.listagem section.first {

}
div.listagem section a.imagem {
	float:left;
	margin:0 10px 0 0;
}
div.listagem section h2 {
	margin-bottom:5px;	
}
div.listagem section p {

}

div.listagem nav {
	border-top:1px solid #ddd;
}

body.page-id-3603 div#content ol > li { /* contato */
	margin-bottom:20px;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}



.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.trp-floater-ls {
	display: none;
}

b-