.c-red { color: #8c1515;}
.c-orange { color: #e98300}
.c-green {color:#009b76}
.b-green {border-color:#009b76 !important;}
.c-green-sec {color:#007c92}
.c-blue {color:#006cb8}
.b-blue {border-color:#006cb8 !important;}
.c-white {color: #fff}

.padding-20 {
    padding: 20px;
}

:root {
    --color-block: #ccc;
    --color-font: #333;
    --color-font-lighter: #696969;
    --color-font-hover: #8c1515;
    --color-primary: #8e0078;
    --color-primary-transparent: rgba(142, 0, 119, .7);
    --color-primary-80: rgba(142, 0, 119, .8);
    --color-primary-70: rgba(142, 0, 119, .7);
    --color-primary-dark: #740062;
    --color-primary-darker: #670056;
    --color-font-black: #333;
    --color-secondary: rgba(114,75,119,1);
    --color-secondary-transparent: rgba(114,75,119,0.7);
    --color-brown: #2f2424;
    --color-brown-dark: #280e0e;
    --color-green: #007C92;
    --color-posgraduacao: #003b75;
    --color-posgraduacao-darker: #202060;
    --color-posgraduacao-transparent: rgba(0, 59, 117, 0.2);
    --color-posgraduacao-080: rgba(0, 59, 117, 0.8);
    --color-graduacao: #f77754;
    --color-graduacao-darker: #b63513;
    --color-processos: #DB504A  ;
    --color-editais: #5D4954;
    --color-pesquisa-extensao: #FFA630;
    --color-pesquisa-extensao-darker: #874200;
    --color-biblioteca: #01b892;
    --color-biblioteca-darker: #016d58;
    --color-galeria: #1b6887;
    --color-galeria-darker: #144b60;
    --color-ia50anos-darker: #a5a5a5;
    --color-ia50anos: #595959;
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-secondary: 'Source Sans Pro', serif;
}