header nav#nav-area {
	background-image:url("../img/background-body-curso.png");
	background-position:left top;
	background-repeat:repeat-x;
}



body.area.artes-visuais header nav#nav-area,
body.area.artes-visuais header nav#nav-area ul li ul,
body.area.artes-visuais header nav#nav-area ul li ul li:hover a,
body.area.artes-visuais div#menu-lateral nav#menu-especifico {
	background-color:#003B75;
}

/*
body.area.cinema header nav#nav-area,
body.area.cinema header nav#nav-area ul li ul,
body.area.cinema header nav#nav-area ul li ul li:hover a,
body.area.cinema div#menu-lateral nav#menu-especifico {
	background-color:#1E775C;
}
body.area.midialogia header nav#nav-area,
body.area.midialogia header nav#nav-area ul li ul,
body.area.midialogia header nav#nav-area ul li ul li:hover a,
body.area.midialogia div#menu-lateral nav#menu-especifico {
	background-color:#89a714;
}*/

body.area.comunicacao header nav#nav-area,
body.area.comunicacao header nav#nav-area ul li ul,
body.area.comunicacao header nav#nav-area ul li ul li:hover a,
body.area.comunicacao div#menu-lateral nav#menu-especifico {
	background-color:#89a714;
}

body.area.danca header nav#nav-area,
body.area.danca header nav#nav-area ul li ul,
body.area.danca header nav#nav-area ul li ul li:hover a,
body.area.danca div#menu-lateral nav#menu-especifico {
	background-color:#c82f5e;
}

body.area.musica header nav#nav-area,
body.area.musica header nav#nav-area ul li ul,
body.area.musica header nav#nav-area ul li ul li:hover a,
body.area.musica div#menu-lateral nav#menu-especifico {
	background-color:#BB5E00;
}

body.area.teatro header nav#nav-area,
body.area.teatro header nav#nav-area ul li ul,
body.area.teatro header nav#nav-area ul li ul li:hover a,
body.area.teatro div#menu-lateral nav#menu-especifico {
	background-color:#553ca7;
}



div#slider-wrapper {
	width:980px;
	margin-bottom:20px;
}

h1 {
	margin:0 30px 20px 0;
	line-height:1;
	float:left;
	font-size:30px;
}
body.area h1 {
	float:none;
}

p#breadcrumbs {
	padding:7px 0 0 0;
	float:left;
}

aside h2 {
	background:#707070;
	color:#fff;
	margin:0 0 20px 0;
	padding:5px 15px;
	font-family:"Trebuchet MS";
	font-weight:normal;
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
}

div#menu-lateral nav {
	padding:5px 15px;
	/*margin-top:60px;*/
	margin-bottom:15px;
	background:#eee;
}
div#menu-lateral nav ul {
	list-style:none;
}
div#menu-lateral nav > ul {
	margin:0;
}
div#menu-lateral nav li {
	/*color:#fff;*/
	color:#333;
}
div#menu-lateral nav li a {
	/*color:#fff;*/
	display:block;
	padding:10px 0;
	transition:all 0.2s ease;
	color:#333;
}
div#menu-lateral nav li a:hover {
	/*padding-left:15px;*/
	text-decoration:underline;
}
div#menu-lateral nav ul li {
	border-top:1px solid #0088CC;
}
div#menu-lateral nav ul li:first-child {
	border:none;
}
div#menu-lateral nav ul ul {
	display:none;
}

div#menu-lateral nav#menu-especifico ul li {
	border-color:#fff;
}
div#menu-lateral nav#menu-especifico ul li a {
	color:#fff;
}

div#menu-lateral div.contato {
	background:#eee;
	color:#333;
	padding:15px;
	margin-bottom:20px;
}
div#menu-lateral div.contato ul {
	margin-bottom:0;
}