.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper,
.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop {
    max-width: none !important;
}

h2.tribe-events-single-event-title {
	font-size:24px !important;
}