body {
	font-size:12px;	
}

nav#areas-mobile {
	margin:30px 0;
	border:1px solid #bebebe;
	border-left:0;
	border-right:0;
        border-top:0;
	padding:0px;
}

nav#areas {
	margin:30px 0;
	height:70px;
	border:1px solid #bebebe;
	border-left:0;
	border-right:0;
	padding:10px 0;
}
nav#areas ul {
	list-style:none;
	padding:0;
	margin:0;
}
nav#areas ul li {
	float:left;
	margin:0 31px;
	position:relative;
}
nav#areas ul li:first-child {
	margin-left:0;
}
nav#areas > ul > li:last-child {
	margin:0 0 0 27px; /* chrome break line bug */
}
nav#areas ul li span {
	font-family:"Trebuchet MS";
	font-size:36px;
	color:#666;
	cursor:default;
	padding:0 0 5px 0;
	transition:all ease 0.5s;
}
nav#areas ul li:hover span {
	color:#8e0077;
}
nav#areas ul li ul {
	position:absolute;
	background:#fff;
	/*border:1px solid #666;*/
	padding:10px;
	top:54px;
	left:-10px;
	opacity:0;
	visibility:hidden;
	border-radius:5px;
	box-shadow:0 5px 5px 0 #666;
	border:1px solid #bebebe;
	transition:all ease 0.2s;
	z-index:999;
}
nav#areas ul li:last-child ul {
	left:auto;
	right:-10px;
}
nav#areas ul li:hover ul {
	/*display:block;*/
	top:74px;
	opacity:1;
	visibility:visible;
}
nav#areas ul li ul li {
	margin:5px 0;
	white-space:nowrap;
}
nav#areas ul li ul li a {
	color:#8e0077;
}
nav#areas ul li ul li.seta {
	display:block;
	/*width:42px;*/
	width:100%;
	height:23px;
	background-image:url("../img/seta.png");
	background-position:40px top;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	top:-28px;
}
nav#areas ul li:last-child ul li.seta {
	background-position:150px top;
}





div.destaque {
	/*border:1px solid #999;*/
	margin:0 0 15px 0;
	/*padding:15px 10px 10px 10px;*/
	position:relative;
	/*border-radius:5px;*/
}
div.destaque .title {
	font-family:"Trebuchet MS";
	font-size:20px;
	margin:0 0 10px 0;
	padding:3px 10px;
	width:100%;
	display:block;
}
div.destaque .title,
div.panel-heading {
	background:#b4a0b6 !important;
}
div.destaque a.title,
div.destaque div.title a {
	transition:all ease 0.5s;
}
div.destaque a.title,
div.destaque div.title,
div.destaque div.title a,
h3.panel-title {
	color:#fff;
}
div.destaque a.title:hover,
div.destaque div.title a:hover {
	color:#dfc8a2;
	text-decoration:none;
}
div.destaque section {
	border-top:1px solid #ccc;
	padding:15px 0;
}
div.destaque section.first {
	border:none;
	padding-top:0;
}
div.destaque section img {
	width:100%;
	height:auto;
}
div.destaque section > a {
	float:left;
	margin:0 10px 0 0;
}
div.destaque section.first > a {
	float:none;
	margin:0;
}
div.destaque section h2 {
	margin:0 0 8px 0;
	line-height:1.1;
	font-size:16px;
}
div.destaque section.first h2 {
	margin-top:8px;
}
div.destaque section p {
	line-height:1.3;
	margin:0;
}




div.destaque ul {
	margin:0;	
}
div.destaque ul li {
	margin:10px 0 0 0;
}
div.destaque ul li:first-child {
	margin-top:0;	
}
div.destaque ul li h2 {
	font-size:16px;
	margin:0;
}

div.destaque ul li h2 a {
	display:block;
	background:#704c75;
	padding:5px 10px;
	transition:all ease 0.5s;
	text-decoration:none;
	color:#fff;
}
div.destaque ul li h2 a:hover {
	background:#003399;
}