@import url("pagina-especial.css");

body.pagina-especial-com-slide.artes-visuais header nav#nav-area,
body.pagina-especial-com-slide.artes-visuais header nav#nav-area ul li ul,
body.pagina-especial-com-slide.artes-visuais header nav#nav-area ul li ul li:hover a,
body.pagina-especial-com-slide.artes-visuais div#menu-lateral nav#menu-especifico {
	background-color:#003B75;
}

/*
body.pagina-especial-com-slide.cinema header nav#nav-area,
body.pagina-especial-com-slide.cinema header nav#nav-area ul li ul,
body.pagina-especial-com-slide.cinema header nav#nav-area ul li ul li:hover a,
body.pagina-especial-com-slide.cinema div#menu-lateral nav#menu-especifico {
	background-color:#1E775C;
}
body.pagina-especial-com-slide.midialogia header nav#nav-area,
body.pagina-especial-com-slide.midialogia header nav#nav-area ul li ul,
body.pagina-especial-com-slide.midialogia header nav#nav-area ul li ul li:hover a,
body.pagina-especial-com-slide.midialogia div#menu-lateral nav#menu-especifico {
	background-color:#89a714;
}*/

body.pagina-especial-com-slide.comunicacao header nav#nav-area,
body.pagina-especial-com-slide.comunicacao header nav#nav-area ul li ul,
body.pagina-especial-com-slide.comunicacao header nav#nav-area ul li ul li:hover a,
body.pagina-especial-com-slide.comunicacao div#menu-lateral nav#menu-especifico {
	background-color:#89a714;
}

body.pagina-especial-com-slide.danca header nav#nav-area,
body.pagina-especial-com-slide.danca header nav#nav-area ul li ul,
body.pagina-especial-com-slide.danca header nav#nav-area ul li ul li:hover a,
body.pagina-especial-com-slide.danca div#menu-lateral nav#menu-especifico {
	background-color:#c82f5e;
}

body.pagina-especial-com-slide.musica header nav#nav-area,
body.pagina-especial-com-slide.musica header nav#nav-area ul li ul,
body.pagina-especial-com-slide.musica header nav#nav-area ul li ul li:hover a,
body.pagina-especial-com-slide.musica div#menu-lateral nav#menu-especifico {
	background-color:#BB5E00;
}

body.pagina-especial-com-slide.teatro header nav#nav-area,
body.pagina-especial-com-slide.teatro header nav#nav-area ul li ul,
body.pagina-especial-com-slide.teatro header nav#nav-area ul li ul li:hover a,
body.pagina-especial-com-slide.teatro div#menu-lateral nav#menu-especifico {
	background-color:#553ca7;