header nav#nav-area {
	background-image:url("../img/background-body-curso.png");
	background-position:left top;
	background-repeat:repeat-x;
}

div#slider-wrapper {
	width:980px;
	margin-bottom:20px;
}

div#menu-lateral nav {
	padding:5px 15px;
	/*margin-top:60px;*/
	margin-bottom:15px;
	/*background:#eee;*/
	background:#ece2c1;
}
div#menu-lateral nav ul {
	list-style:none;
}
div#menu-lateral nav > ul {
	margin:0;
}
div#menu-lateral nav li {
	/*color:#fff;*/
	color:#333;
}
div#menu-lateral nav li a {
	/*color:#fff;*/
	display:block;
	padding:10px 0;
	transition:all 0.2s ease;
	/*color:#333;*/
	color:#333;
	font-size:12px;
}
div#menu-lateral nav li a:hover {
	/*padding-left:15px;*/
	text-decoration:underline;
}
div#menu-lateral nav li.current-menu-item a {
	text-decoration:underline;
}
div#menu-lateral nav ul li {
	border-top:1px solid #0088CC;
}
div#menu-lateral nav ul li:first-child {
	border:none;
}
div#menu-lateral nav ul ul {
	display:none;
}

div#menu-lateral nav#menu-especifico ul li {
	border-color:#fff;
}
div#menu-lateral nav#menu-especifico ul li a {
	color:#fff;
}

div#menu-lateral div.contato {
	background:#eee;
	color:#333;
	padding:15px;
	margin-bottom:20px;
	font-size:12px;
}
div#menu-lateral div.contato strong {
	color:#853512;
}
div#menu-lateral div.contato ul {
	margin-bottom:0;
}