

<div id="slider-wrapper">
    <div id="slider">
        {% for slideshow in contents.slideshow %}

            {% if slideshow.credito is not empty %}
                {% set title = slideshow.title ~ "<div class='credito'>foto: " ~ slideshow.credito ~ "</div>"%}
            {% else %}
                {% set title = slideshow.title %}
            {% endif %}

            {% if slideshow.hasContent and slideshow.redirect is empty %}
                <a href="{{ bloginfo('url') }}/content/{{ slideshow.id }}">
                    <img class=" slider_{{ loop.index }}" src="{{ slideshow.image }}" title="{{ title }}">
                </a>
            {% endif %}

            {% if slideshow.redirect %}
                <a href="{{ slideshow.redirect }}">
                    <img class=" slider_{{ loop.index }}" src="{{ slideshow.image }}" title="{{ title }}">
                </a>
            {% endif %}


            {% if not slideshow.redirect and not slideshow.hasContent %}
                <img class="slider_{{ loop.index }}" src="{{ slideshow.image }}" title="{{ title }}">
            {% endif %}
        {% endfor %}
    </div>
</div>
