{% if contents.eventos is not empty %}
<section id="carousel-section" class="home-section carousel">
    <div class="block-title text-center">
        <a href="{{ bloginfo('url') }}/content" class="title">Eventos</a>
    </div>
    <div  class="block-content">
        <div class="container">
            <div class="slick">
                {% for item in contents.eventos %}
                        <div class="">
                            <div class="card-evento card-home parent-zoom" >
                                <div class="child-zoom" style="background-image: url('{{ item.image }}')">
                                </div>
                                <a href="content/{{ item.id }}" class="content">
                                    <div class="description">
                                        <div class="date">
                                            <span class="month">{{ item.month }}</span>
                                            <span class="day">{{ item.day }}</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="title">{{ item.title }}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}