{% if lang == 'pt' %}
<section id="statistics-section" class="home-section bg-section">
    <div class="block-title text-center">
        <span class="title">IA em números</span>
    </div>
    <div class="block-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="title">Docentes<br/></span>
                    <span class="number">100</span>
                </div>
                <div class="col">
                    <span class="title">Alunos de<br/> graduação</span>
                    <span class="number">907</span>
                </div>
                <div class="col">
                    <span class="title">Alunos de<br/> pós-graduação</span>
                    <span class="number">457</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <a class="btn btn-ia btn-ia btn-lg" href="http://www.iar.unicamp.br/wp-content/uploads/2019/08/folder-ia.pdf">Saiba mais sobre o IA</a>
    </div>
</section>
{% endif %}

{% if lang == 'en' %}
    <section id="statistics-section" class="home-section ">
        <div class="block-title text-center">
            <span class="title">AI in numbers</span>
        </div>
        <div class="block-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                    <span class="title">Teachers<br/></span>
                    <span class="number">100</span>
                    </div>
                    <div class="col">
                        <span class="title">Undergraduate<br/> students</span>
                        <span class="number">907</span>
                    </div>
                    <div class="col">
                        <span class="title">Graduate<br/> students</span>
                        <span class="number">457</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <a class="btn btn-ia btn-ia btn-lg" href="http://www.iar.unicamp.br/wp-content/uploads/2019/08/folder-ia-en.pdf">See more</a>
        </div>
    </section>
{% endif %}