{% import _self as me %}

{% if contents is defined and contents.noticias is not empty %}

    {% if lang == 'pt' %}{% set news = 'Notícias' %}{% endif %}
    {% if lang == 'en' %}{% set news = 'News' %}{% endif %}
    {% if lang == 'es' %}{% set news = 'Noticias' %}{% endif %}

    <section id="noticias-section" class="home-section bg-section">
        <div class="container">
            <div class="block-title text-center">
                <a href="{{ bloginfo('url') }}/content" class="title">{{ news }}</a>
            </div>

            <div class="news-container">
                <div class="row mb-4">
                    {% for item in contents.noticias %}
                        {{ me.news(item) }}
                    {% endfor %}
                </div>

                <div class="row mb-4">
                    {% for item in contents.noticias2 %}
                        {{ me.news2(item) }}
                    {% endfor %}
                    {{ me.concursoDocente() }}
                </div>

            </div>
        </div>
    </section>
{% endif %}

{% macro news(item)%}
    {% if item.slideshow is not empty %}
        {% set image = item.slideshow %}
    {% else %}
        {% set image = item.image %}
    {% endif %}

    <a class="news-block col-md-4 p-2 flex-column d-flex parent-zoom" href="content/{{ item.id }}" >
        <div class="">
            <img class="child-zoom" src="{{ image }}">
        </div>
        <div class="text p-2">
            <span class="title">{{ item.title }}</span>
            <span class="chamada">{{ item.chamada }}</span>
        </div>
    </a>
{% endmacro %}

{% macro news2(category) %}

    {% for row in category.rows %}
        <div class="post-block col-md-4 p-2">
            <div class="text p-3 d-flex flex-column">
                <a href="categoria/{{ category.name }}" class="mb-1">
                    <small class="tag bg-{{ category.name }}">{{ category.label }}</small>
                </a>
                <a href="{{ row.link }}">
                    <span class="title">{{ row.title }}</span>
                </a>

            </div>
        </div>

    {% endfor %}

{% endmacro %}

{% macro concursoDocente() %}
    <div class="post-block col-md-4 p-2">
        <div class="text p-3 ">
            <span class="tag bg-concursos mb-2">Concurso Docente</span>
            <ul style="margin-bottom: 0">
                <li>
                    <a target="_blank" href="https://www.sg.unicamp.br/gde/concursos/abertos/todos-os-titulos/instituto-de-artes">Abertos</a><br/>
                </li>
                <li>
                    <a target="_blank" href="https://www.sg.unicamp.br/gde/concursos/em-andamento/todos-os-titulos/instituto-de-artes">Em andamento</a><br/>
                </li>
                <li>
                    <a target="_blank" href="https://www.sg.unicamp.br/gde/concursos/finalizados/todos-os-titulos/instituto-de-artes">Finalizados</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.iar.unicamp.br/coordenadoria-administrativa/gestao-de-pessoas/concurso-docente-normas-e-procedimentos/">
                        Normas e Procedimentos</a>
                </li>
            </ul>
        </div>
    </div>
{% endmacro %}