{%  import _self as me %}

<section id="areas-section" class="bg-section home-section">
    <div class="container">
        <div class="block-title">
            <div class="title text-center">
                {% if lang == 'pt' %}Cursos{% endif %}
                {% if lang == 'en' %}Courses{% endif %}
                {% if lang == 'es' %}Grados y Posgrados{% endif %}
                {% if lang == 'fr' %}Licence et Études supérieures{% endif %}
            </div>
        </div>

        {{ me.courses('G',menu.G,lang) }}

        {{ me.courses('P',menu.P, lang) }}

        {# BLOCO AREAS #}
        {% if lang == 'pt' %}
            <div class="mb-5"></div>

            {% if contents.extensao is not empty %}
                <h5 class="text-center">Verifique abaixo nossos cursos de extensão e especialização - modalidade extensão universitária - e projetos de extensão</h5>
                <div class="d-md-flex flex-md-row ">
                    {% for row in contents.extensao %}

                        <div class="col m-1 d-sm-block card card-extensao  parent-zoom no-padding">
                            <a href="cursosExtensao/{{ row.id }}">
                                <img style="max-height: 100px" src="{{ row.image }}">
                                <div class="p-3">
                                    <span class="color-light font-80">{{ row.tipo }}</span><br/>
                                    {{ row.nome }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="pt-3 pb-3 text-right">
                    <a class="btn btn-ia btn-ia " href="cursosExtensao">+ mais cursos</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>

{% macro courses(codNivel, menu,lang) %}

    <div class="d-md-flex  mb-2">
        {% for row in menu %}
            {% set post = function('ia_get_post',row.id) %}
            <a href="{{ post.post_name }}" class="col-{{ codNivel }} card-area cursos pt-3 pl-3 pr-3 pb-4 m-1
            flex-even curso-{{ row.id }}" >

                <span class="nivel">
                    {% if lang == 'pt' and codNivel == 'G' %}Graduação em{% endif %}
                    {% if lang == 'pt' and codNivel == 'P' %}Pós-Graduação em{% endif %}
                    {% if lang == 'en' and codNivel == 'G' %}Undergraduate in{% endif %}
                    {% if lang == 'en' and codNivel == 'P' %}Graduate in{% endif %}
                    {% if lang == 'es' and codNivel == 'G' %}Grado en{% endif %}
                    {% if lang == 'es' and codNivel == 'P' %}Posgrado en{% endif %}
                    {% if lang == 'fr' and codNivel == 'G' %}Licence / Premier cycle{% endif %}
                    {% if lang == 'fr' and codNivel == 'P' %}Études supérieures{% endif %}
                </span>
                {{ row.text[lang] }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}