{%  set template_directory = function('get_bloginfo','template_directory') %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

{% block head %}
    <head>
        <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>
            {% block page_title %}
                {% if page_title is not empty %}
                    {{ page_title }}
                {% endif %} | Instituto de Artes
            {% endblock %}
        </title>

        <link rel="shortcut icon" href="{{ template_directory }}/img/icons/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/jquery.mosaic.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/nivo-slider.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/home.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/carousel.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/news.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/content.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/header.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/defesas.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ template_directory}}/css/variables.css" />

        {% block css %}{% endblock %}

        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,700,700i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

        <!-- slick -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />

        <link rel="pingback" href="{{ bloginfo("pingback_url") }}" />
        {{ wp_head }}
        {{ function('wp_head') }}

        {% block custom_head %}{% endblock %}


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137729157-2"></script>
        <!-- Google analytics -->
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());gtag('config', 'UA-137729157-2');
        </script>

    </head>
{% endblock %}

<body {{ function('body_class',function('body_slug')) }}>

    <div class="template-{{ template_name|default('') }}">
        {% block body %}
            {% include 'twig/topbar.twig' %}
            {% include 'twig/header.twig' %}

            <div id="content">
                {% block wrapper %}{% endblock %}
            </div>

            {% block footer %}
                {% include 'twig/footer.twig' %}
            {% endblock %}

            {% block jscustom %}{% endblock %}

            {% if custom_html is not empty %}
                <!-- VUE Block -->>
                {% include 'twig/blocks/block-header-vue.twig' %}
            {% endif %}

        {% endblock %}
    </div>
</body>
</html>
