{% extends 'twig/page.twig' %}

{% block content_sidebar %}
    {{ function('the_breadcrumb') }}
    <h1>{{ function('single_cat_title') }}</h1>

    <ul>
    {% for row in content %}
        <li>
            <a href="{{ row.link }}">{{ row.title }}</a>
        </li>
    {% endfor %}
    </ul>

    {{ function('the_pagination') }}
{% endblock %}