
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="d-sm-flex flex-sm-row">
                    <a href="http://www.unicamp.br/ia" class="navbar-brand">
                        <img style="max-height: 150px" src="{{ function('bloginfo','template_url') }}/img/logo-branco.png" />
                    </a>
                    <div>
                        <div class="social">
                            <a href="https://www.facebook.com/iartesunicamp/" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://www.facebook.com/iartesunicamp/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="font-80">
                        <p>
                            Rua Elis Regina, 50. Cidade Universitária "Zeferino Vaz"<br />
                            Barão Geraldo, Campinas - SP. CEP: 13083-854<br />

                            <a href="https://www.iar.unicamp.br/o-instituto/como-chegar">
                                <i class="fas fa-map-marker-alt"></i> Como chegar
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-sm-flex flex-sm-row justify-content-end">
                    <div class="text-right">
                        {{ function('wp_nav_menu',{"menu" : "Servicos 2",'menu_class' : 'navbar-nav ','container_class':'navbar-nav ml-auto'}) }}
                        <a href="#" onclick="window.open('https://www.iar.unicamp.br/si/public/newsletter/inscricao','_blank')">
                            Inscrever na Newsletter
                        </a>
                    </div>
                    <div class="text-right pl-3">
                        {{ function('wp_nav_menu',{"menu" : "Servicos",'menu_class' : 'navbar-nav ','container_class':'navbar-nav ml-auto'}) }}

                    </div>

                    <div class="text-right pl-3">
                        {{ function('wp_nav_menu',{"menu":"Principal" , 'container_class':'navbar-nav ml-auto','menu_class':'navbar-nav '}) }}
                        <a href="{{ function('get_site_url') }}/login-iar">
                            <i class="fas fa-key"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{{ function('wp_footer') }}
<!-- JSFOOTER -->
<script type="text/javascript" src="{{template_directory}}/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{template_directory}}/js/jquery.nivo.slider.pack.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script type="text/javascript" src="{{template_directory}}/js/script.js"></script>
<script type="text/javascript" src="{{template_directory}}/js/content.js"></script>


