<header id="header" class="d-flex justify-content-start header-{{ main_menu | lower }}">
    <div id="logos" class="p-0 align-self-stretch text-center align-items-center">
        <div class=" align-items-center">

            <a href="http://www.unicamp.br" class="d-none d-xl-inline">
                <img class="logo-unicamp" src="{{ function('bloginfo',"template_url") }}/img/logo-unicamp-t.png" />
            </a>

            <a href="{{ bloginfo("url") }}{% if lang != 'pt' %}/{{ lang }}{% endif %}">
                <img class="logo-ia" src="{{ function('bloginfo',"template_url") }}/img/logo-normal.png"/>
            </a>
        </div>
    </div>

    <div id="menus" class="p-0 flex-grow-1 align-self-stretch d-none d-lg-block">
        <div class="menu-servicos">
            <nav class="navbar navbar-expand-lg pt-0 pb-0 pl-2">
                {% if lang != 'en' %}
                    {{ function('wp_nav_menu',{"menu" : "Servicos" ,'container_id':'nav-servicos', 'menu_class' : 'navbar-nav ',
                        'container_class' : ' navbar-nav'}) }}
                {% endif %}

                <ul class="nav navbar-nav ml-auto pr-2 ">
                    {{ function('pll_the_languages',{'show_flags':1, 'show_names':0, 'hide_if_no_translation':1, 'hide_current':1, 'force_home':0}) }}
                    {% if lang == 'pt' or lang == 'es' %} {% set search = 'Buscar' %} {% endif %}
                    {% if lang == 'en' %} {% set search = 'Search' %} {% endif %}
                    {% if lang == 'fr' %} {% set search = 'Chercher' %} {% endif %}
                    <li>{% include 'twig/blocks/form-search.twig' %}</li>
                </ul>
            </nav>
        </div>
        {# MENU PRINCIPAL #}
        <nav class="navbar-main navbar navbar-expand-lg pl-2 pt-0">
            {{ function('wp_nav_menu',{"menu":main_menu|default('Principal') ,
                'container_id':'nav-' ~ main_menu | lower, 'container_class':'navbar-nav ','menu_class':'navbar-nav main-menu'}) }}
        </nav>
    </div>

    <nav id="menu-responsive" class="menu-servicos navbar navbar-expand-lg d-block d-lg-none w-100">
        <div class="d-flex">
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div>
                {{ function('pll_the_languages',{'show_flags':1,'show_names':0, 'hide_if_no_translation':1, 'hide_current':1, 'force_home':0}) }}
                {% include 'twig/blocks/form-search.twig' %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {{ function('wp_nav_menu',{"menu": main_menu|default('Principal') ,
                        'container_id':'nav-principal', 'container_class':'navbar-nav ','menu_class':'navbar-nav '}) }}
                    {{ function('wp_nav_menu',{"menu" : "Servicos" ,'container_id':'nav-servicos', 'menu_class' : 'navbar-nav ',
                        'container_class' : ' navbar-nav'}) }}
                </div>
            </div>

        </div>



    </nav>
</header>
