{% extends 'twig/base.twig' %}

{% block page_title %}Instituto de Artes | Unicamp{% endblock %}

{% block wrapper %}
    <div id="home">
        <div class="no-gutters">
            {% include 'twig/home/block.slideshow.twig' %}
        </div>

        {% include 'twig/home/block.areas.twig' %}

        {% include 'twig/home/block.events.twig' %}

        {% include 'twig/home/block.news.twig' %}

        {% include 'twig/home/block.defesas.twig' %}

        {% include 'twig/home/block.numeros.twig' %}
    </div>

{% endblock %}

{% block jscustom %}
    <script type="text/javascript" src="{{template_directory}}/js/home.js"></script>
{% endblock %}