{% macro block_title_area(page_title, area, areaUrl) %}
    <div class="type">
        <a class="c-white" href="{{ bloginfo("url") }}">IA</a> |
        <a class="c-white" href="{{ areaUrl|default(bloginfo("url")) }}">{{ area }}</a>
    </div>
    <h1 class="title font-secondary">{{ page_title }}</h1>
    {{ function('the_breadcrumb') }}
{% endmacro %}