{%  extends 'twig/page.twig' %}

{% block before_the_content %}
<div class="tabbable">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#a" class="active">Anais de eventos</a></li>
        <li><a href="#e" class="">E-livros</a></li>
        <li><a href="#p">Periódicos Científicos</a></li>
    </ul>
    <div class="tab-content">
        <div id="a" class="tab-pane fade active show">
            {{ a }}
        </div>
        <div id="e" class="tab-pane fade show">
            {{ e }}
        </div>
        <div id="p" class="tab-pane fade show">
            {{ p }}
        </div>
    </div>
</div>
{% endblock %}
