{%  extends 'twig/base.twig' %}

{% block wrapper %}
    <div class="container">
        {% block before_content %}
            {% include 'twig/blocks/block.imagemtopo.twig' %}
        {% endblock %}

        {% block content_sidebar %}
            <div class="row">
                <div id="menu-lateral" class="col-md-3">
                    {% block sidebar %}
                        {{ function('ia_getmenu') }}
                    {% endblock %}
                    {% if contato is not empty %}
                        <div class="contato">
                            {{ contato }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    {% block content %}
                        {{ function('the_breadcrumb') }}
                        <h1>{{ function('the_title') }}</h1>

                        {% include 'twig/blocks/block.edit.twig' %}
                        {% if avisos is not empty %}
                        <div class="card-avisos">
                            <div class="content">
                            {{ avisos }}
                            </div>
                        </div>
                        {% endif %}

                        {% block before_the_content %}
                            {{ before_content }}
                        {% endblock %}
                        
                        {% block content_inner %}
                            {{ function('the_content') }}
                        {% endblock %}

                        {% block after_the_content %}
                        {% endblock %}

                        {% if custom_html is not empty %}

                            <div id="vueapp">
                                {{ custom_html }}
                            </div>
                            {{ custom_html }}
                        {% endif %}

                    {% endblock %}
                </div>
            </div> <!-- div.row -->
        {% endblock %}
    </div>
{% endblock %}