{% extends 'twig/page.twig' %}

{% block sidebar %}
    {{ parent() }}

    {% if coordenador_geral is not empty %}
        <div class="contato">
            <p><strong>Coordenador Geral</strong></p>
            {{ coordenador_geral }}
        </div>
    {% endif %}

    {% if coordenador_area is not empty %}
        <div class="contato">
            <p><strong>Coordenador</strong></p>
            {{ coordenador_area }}
        </div>
    {% endif %}

    {% if secretaria is not empty %}
        <div class="contato">
            <p><strong>Secretária de Graduação</strong></p>
            {{ secretaria }}
        </div>
    {% endif %}

    {% if telefones is not empty %}
        <div class="contato">
            <p><strong>Telefones</strong></p>
            {{ telefones }}
        </div>
    {% endif %}
{% endblock %}

{% block jscustom %}
    <script type="text/javascript" src="{{template_directory}}/js/page-especial-com-slide.js"></script>
{% endblock %}