{%  extends 'twig/base.twig' %}

{% block wrapper %}
    <div class="container administracao">
        {% block before_content %}
            {{ slider|default('') }}
        {% endblock %}

        {% block content %}
            {{ function('the_breadcrumb') }}
            <h1>{{ function('the_title') }}</h1>

            {% if function('is_user_logged_in') %}
                <div class="mb-3">
                    <a href="{{ bloginfo("url") }}/wp-admin/post.php?post={{ function('get_the_ID') }}&action=edit" class="btn btn-sm btn-outline-secondary">Editar página</a>
                    <a href="{{ bloginfo("url") }}/wp-admin/post-new.php?post_type=page&the_id={{ function('get_the_ID') }}" class="btn btn-sm btn-outline-secondary">Criar subpágina</a>
                </div>
            {% endif %}

            {% block content_inner %}
            {{ function('the_content') }}
            {% endblock %}


        {% endblock %}

    </div>
{% endblock %}