{% extends 'twig/page.twig' %}

{% block after_the_content %}
    <div>
        <h1>Últimas Aquisições</h1>
        <div class="d-md-flex flex-md-row">
            {% for row in function('ia_biblio_ultimasaquisicoes', 4) %}
                <div class="col m-1 d-sm-block card card-extensao parent-zoom no-padding text-center">
                    <img style=\"max-height:189px" src="{{ row.link }}">
                    <br/>
                    <div class="p-3 text-center">
                        {{ row.titulo }}
                        <br/>
                        <span class="color-light font-80 text-center">{{ row.numchamada }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pt-3 pb-3 text-right">
            <a class="btn btn-ia btn-ia" href="https://www.iar.unicamp.br/biblioteca/servicos/consulta-local/ultimas-aquisicoes/\">Veja mais</a>
        </div>
        <p></p>
        <p>Caso não tenha localizado o material que você procura, <a href="https://forms.gle/p2ffuc5RcijVT45A7">clique aqui</a> e envie sua Sugestão de Aquisição.</p>
    </div>
{% endblock %}

{% block jscustom %}
    <script type="text/javascript" src="{{template_directory}}/js/page-especial-com-slide.js"></script>
{% endblock %}
