{% extends 'twig/page.twig' %}

{% block before_the_content %}
    <div class="col-xs-12 col-md-12 px-0">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for link in function('ia_gaia_get_posts') %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                    {%  else %}
                        <div class="carousel-item">
                    {% endif %}
                    <img class="d-block w-100" src="{{ link.link }}" width="100%"/>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <!-- Blocos de campos personalizados -->
    <br clear="all" />
    <br clear="all" />
    <div class="d-md-flex flex-md-row">
        <div class="col m-1 d-sm-block card card-extensao parent-zoom no-padding text-left">
            <div class="p-3 text-left">
                <h3>Bem Vindo!</h3>
                <br/>
                {{ bem_vindo }}
            </div>
        </div>
        <div class="col m-1 d-sm-block card card-extensao parent-zoom no-padding text-left">
            <div class="p-3 text-left">
                <h3>GAIA Virtual</h3>
                <br/>
                {{ gaia_virtual }}
            </div>
        </div>
        <div class="col m-1 d-sm-block card card-extensao parent-zoom no-padding text-left">
            <div class="p-3 text-left">
                <h3>Exposições</h3>
                <br/>
                {{ exposicoes }}
            </div>
        </div>
    </div>
{% endblock %}

{% block jscustom %}
    <script type="text/javascript" src="{{template_directory}}/js/page-especial-com-slide.js"></script>
{% endblock %}