{% extends 'twig/page.twig' %}

{% block custom_head %}
    <script src="{{ template_directory}}/js/iframeResizer.js"></script>
    <style>
        iframe {
            width: 1px;
            min-width: 100%;
            min-height: 100vw;
        }
    </style>
{% endblock %}

{% block content %}
    {{ parent() }}
    <p id="callback">
    </p>
    <script type="text/javascript">

        iFrameResize({
            log                     : false,                  // Enable console logging
            enablePublicMethods     : false,                  // Enable methods within iframe hosted page
            heightCalculationMethod: "max",
            resizedCallback         : function(messageData){ // Callback fn when resize is received
            },
        });
    </script>
{% endblock %}
