{% extends 'twig/page-nosidebar.twig' %}

{% block content_inner %}
    <div class="card-deck mb-3">
        <div class="card">
            <h5 class="card-title mb-0">
                <a href="../o-instituto/diretoria/">
                    Diretoria
                </a>
            </h5>
            <div class="card-body">
                <a href="../o-instituto/congregacao/pautas-e-atas">Congregação</a>
                <a href="../o-instituto/diretoria/conselho-interdepartamental">Conselho Interdepartamental</a>
                <a href="../o-instituto/diretoria/planes-ia">Planes IA</a>
            </div>
        </div>
        <div class="card">
            <h5 class="card-title mb-0">
                <a href="../coordenadoria-administrativa">
                    Coordenadoria Administrativa
                </a>
            </h5>
            <div class="card-body">
                <a href="../coordenadoria-administrativa/gestao-de-pessoas/">Seção de Gestão de Pessoas</a>
                <a href="../coordenadoria-administrativa/financas-e-compras/">Seção de Finanças e Compras</a>
                <a href="../coordenadoria-administrativa/infraestrutura/">Seção de Infraestrutura</a>
            </div>
        </div>
        <div class="card">
            <h5 class="card-title mb-0">
                <a href="../coordenadoria-de-apoio-tecnico-e-didatico">
                    Coordenadoria de Apoio Técnico e Didático
                </a>
            </h5>
            <div class="card-body">
                <a href="../coordenadoria-de-apoio-tecnico-e-didatico/secao-de-apoio-a-producao">Seção de Apoio à Produção</a>
                <a href="../coordenadoria-de-apoio-tecnico-e-didatico/secao-apoio-aos-laboratorios">Seção de Apoio aos Laboratórios</a>
                <a href="../coordenadoria-de-apoio-tecnico-e-didatico/secao-de-programacao-visual-e-comunicacao">Seção de Programação Visual e Comunicação</a>
            </div>
        </div>

    </div>
    <div class="card-deck mb-3">
        <div class="card">
            <h5 class="card-title mb-0">
                <a href="../coordenadoria-tecnica-de-informatica">
                    Coordenadoria Técnica de Informática
                </a>
            </h5>
            <div class="card-body">
                <a class="item" href="https://www.iar.unicamp.br/si">Intranet</a>
                <a href="https://www.iar.unicamp.br/si/impressao/new">Solicitar impressão</a>
            </div>
        </div>

        <div class="card">
            <h5 class="card-title mb-0">
                <a href="../secao-de-apoio-aos-departamentos">
                    Seção de Apoio aos Departamentos
                </a>
            </h5>
            <div class="card-body">
                <a href="../departamento-de-artes-cenicas">Departamento de Artes Cênicas</a>
                <a href="../departamento-de-artes-corporais">Departamento de Artes Corporais</a>
                <a href="../departamento-de-artes-plasticas">Departamento de Artes Plásticas</a>
                <a href="../departamento-de-multimeios-midia-e-comunicacao">Departamento de Multimeios</a>
                <a href="../departamento-de-musica">Departamento de Música</a>
            </div>
        </div>
    </div>
{% endblock %}