{%  extends 'twig/page.twig' %}

{% block before_the_content %}
<div class="tabbable">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#docentes" class="active">Docentes</a></li>
        <li><a href="#ic" class="">Iniciação Científica</a></li>
        <li><a href="#mestrado">Mestrado</a></li>
        <li><a href="#doutorado" >Doutorado</a></li>
    </ul>
    <div class="tab-content">
    <div id="docentes" class="tab-pane fade active show">
        {{ docentes }}
    </div>
    <div id="ic" class="tab-pane fade show">
        {{ ic }}
    </div>
    <div id="mestrado" class="tab-pane fade show">
        {{ m }}
    </div>
    <div id="doutorado" class="tab-pane fade show">
        {{ d }}
    </div>
    </div>
</div>
{% endblock %}
