{% extends 'twig/page.twig' %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ function('the_breadcrumb') }}
    <h1>{{ function('the_title') }}</h1>

    {% if function('is_user_logged_in') %}
        <div class="mb-3">
            <a href="{{ bloginfo("url") }}/wp-admin/post.php?post={{ function('get_the_ID') }}&action=edit" class="btn btn-sm btn-outline-secondary">Editar página</a>
            <a href="{{ bloginfo("url") }}/wp-admin/post-new.php?post_type=page&the_id={{ function('get_the_ID') }}" class="btn btn-sm btn-outline-secondary">Criar subpágina</a>
        </div>
    {% endif %}

    {% if avisos is not empty %}
        <div class="card-avisos">
            <div class="content">
                {{ avisos }}
            </div>
        </div>
    {% endif %}

    <div class="tabbable">
        {{ function('the_content') }}
    </div>

{% endblock %}