{% extends 'twig/page.twig' %}

{% block custom_head %}


    <style>
        .parallax-window {
            min-height: 300px;

        }
        .elementor-editor-active .parallax-slider{
            display: none;
        }

        .title {
            color: #fff;
            text-align: center;
            position: absolute;
            padding-top: 125px;
            padding-left: 50px;
            z-index: 9;
        }

        .title span {
            border: 2px solid #fff;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block wrapper %}

    {{ before_content }}

    <div class="parallax-window">
        <h1 class="title"><span>IA 50 Anos</span></h1>
    </div>
    {{ function('the_content') }}


{% endblock %}

{% block jscustom %}
    <script type="text/javascript" src="{{template_directory}}/js/parallax.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.parallax-window').parallax({
                imageSrc: '{{template_directory}}/img/parallax.jpg',
                zIndex: 0,

            });
        });

    </script>
{% endblock %}