{% extends 'twig/page-nosidebar.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{template_directory}}/css/gaia-style.css?v2" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{template_directory}}/css/gaia-virtual-style.css" media="screen" />
    <script type="text/javascript" src="{{template_directory}}/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{template_directory}}/webgl/Build/UnityLoader.js"></script>
    <script type="text/javascript" src="{{template_directory}}/js/_main.js?v2"></script>
    <script type="text/javascript" src="{{template_directory}}/js/script.js"></script>
{% endblock %}


{% block wrapper %}
    <div class="container">
    {% if ehMobile is not empty %}
        <div class="row">
            <div class="content-page text-center">
                <div class="p-4 m-5" style="color: white; font-size: 300%;">
                    O GAIA Virtual possui uma melhor performace e te proporciona uma melhor experiência quando acessado pelo Computador de Mesa. Então pedimos que acesse este link através desse dispositivo e nos vemos lá!
                </div>
            </div>
        </div>
    {% else %}
        {{ function('the_breadcrumb') }}
        <br clear="all"/>
        <br clear="both"/>
        <div class="col-xs-12 col-md-12 mb-4 content-page text-center">
            <div style="color: white; font-size: 110%;">
                <img src="{{template_directory}}/img/018_-_Expand-512.png" class="hint-icon" width="60" align="left"/>
                Após carregar, aperte [F] para ativar ou desativar o modo de tela cheia.<br/>Para exibir o cursor do mouse, pressione [ESC].
            </div>
        </div>
        <div class="col-xs-12 col-md-12 px-0">
            <div class="loader pt-5 px-1">
                <div id="logo-loading-comporta" class="my-5">
                    <div class="container">
                        <div class="row">
                            <div id="loading-total-logo" class="col-xs-12 col-md-6 text-center p-5">
                                <img src="{{template_directory}}/img/logo-gaia-virtual.png" class="logo-gaia"/>
                            </div>
                            <div id="loading-total" class="col-xs-12 col-md-6 text-center">
                                <div class="loader-icon"></div>
                                <span class="text">Carregando sua experiência...</span>
                               <br/>
                                <div id="dicasCarousel" class="carousel fadeIn slide text-center p-2 my-4" data-interval="5000" data-ride="carousel">
                                    <i class="fas fa-lightbulb"></i> <strong>DICA de atalho</strong>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            Para dar zoom e ver os detalhes da obra, aperte e mantenha o botão direito do seu mouse pressionado.
                                        </div>
                                        <div class="carousel-item">
                                            Para habilitar <i class="fas fa-volume"></i> e desabilitar o som em qualquer momento <i class="fas fa-volume-mute"></i><br/> aperte o [M] de seu teclado <i class="fas fa-keyboard"></i>.
                                        </div>
                                        <div class="carousel-item">
                                            Para habilitar e desabilitar a tela inteira em qualquer momento<br/> aperte o [F] de seu teclado <i class="fas fa-keyboard"></i>.
                                        </div>
                                        <div class="carousel-item">
                                            Para andar pelo espaço <i class="fas fa-shoe-prints"></i><br/> use as teclas de direção do seu teclado <i class="fas fa-keyboard"></i>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-right p-2 mt-5">
                    <img src="{{template_directory}}/img/logo-unicamp.png" width="200"/>
                </div>
            </div>
            <div class="pb-5 webgl-content">
                <div id="gameContainer" style="width: auto; height: 100%"></div>
            </div>
        </div>
        {% block jscustom %}
            <script>var gameInstance = UnityLoader.instantiate("gameContainer", "{{template_directory}}/webgl/Build/webGL.json", {
                Module: {
                    dataUrl: "{{unity_files['dataUrl']}}",
                    wasmCodeUrl: "{{unity_files['wasmCodeUrl']}}",
                    wasmFrameworkUrl: "{{unity_files['wasmFrameworkUrl']}}",
                },
                onProgress: UnityProgress
            });</script>

            <script type="text/javascript">
                jQuery.browser = {};
                (function () {
                    jQuery.browser.msie = false;
                    jQuery.browser.version = 0;
                    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                        jQuery.browser.msie = true;
                        jQuery.browser.version = RegExp.$1;
                }
                })();
            </script>
        {% endblock %}
        <br clear="all"/>
        <br clear="all"/>
    {% endif %}
    </div>

{% endblock %}

