{% extends 'twig/base.twig' %}

{% block css %}
<style>
    .gsc-adBlock {
        display: none !important;
    }
</style>
{% endblock %}

{% block wrapper %}
    <div class="container">
        <h1>Pesquisa</h1>
        <script async src="https://cse.google.com/cse.js?cx=007880616816922197067:vktriyjppje"></script>
        <div class="gcse-searchresults-only"></div>
    </div>
{% endblock %}