{% if topbar.link is not empty %}
    <div class="alert topbar alert-dismissible fade show text-center" role="alert">
        <a href="{{ topbar.link }}">
            <i class="fas fa-exclamation"></i> {{ topbar.title }}
        </a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}