<div class="type">
    <a class="c-white" href="{{ bloginfo("url") }}">IA</a> |
    {# secao programacao visual #}
    {% if content.type != 5 %}
        <a class="c-white" href="{{ bloginfo("url") }}/content">
            {{ content.typeLabel|default('Seção de programação visual e comunicação') }}</a>
    {% else %}
        <a class="c-white" href="{{ bloginfo("url") }}/extensao/campanha">
            {{ content.typeLabel|default('Extensão') }}</a>
    {% endif %}
</div>