{% extends 'twig/base.twig' %}

{% block custom_head %}
    <meta property="og:url"           content="{{ bloginfo("url") }}/content/{{ content.id }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ content.title }}" />
    <meta property="og:image"         content="{{ content.image }}" />


{% endblock %}

{% block wrapper %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0"></script>

    {% if campanha is empty %}
        <div class="title-block">
            <div class="container">
                {% include 'twig/content/block.title.twig' %}
                <h1 class="title font-secondary">{{ content.title }}</h1>
                {{ function('the_breadcrumb') }}

            </div>
        </div>
    {% endif %}
    <div class="container">
        {% if campanha is not empty %}
            {% include 'twig/extensao/block.topo.twig' %}
            <h1 class="mt-4 title font-secondary">{{ content.title }}</h1>
        {% endif %}
        <div class="content-page row">
            {# evento #}
            {% if content.type == 1 or content.type == 5 %}
                <div class="col-md-4">
                    {% include 'twig/blocks/card-evento.twig' %}
                </div>
                <div class="col-md-8">
                    <div class="body-block">
                        <div class="fb-like"
                             data-href="{{ bloginfo("url") }}/content/{{ content.id }}"
                             data-share="true"
                             data-layout="button_count"
                             data-action="like"
                             data-show-faces="true">
                        </div>
                        <div class="mb-2"></div>
                        {% if content.carouselConfigXML is not empty  %}
                            {% include 'twig/blocks/carousel.twig' %}
                        {% endif %}
                        {% if content.youtubeId is not empty %}
                            <div class="text-left">
                                <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/{{ content.youtubeId }}"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        {% endif %}
                        {% if content.body is not  empty %}
                            {{ content.body }}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-sm-12">
                    <div class="fb-like"
                         data-href="{{ bloginfo("url") }}/content/{{ content.id }}"
                         data-share="true"
                         data-layout="standard"
                         data-action="like"
                         data-show-faces="true">
                    </div>
                    {{ content.body }}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}