{% extends 'twig/base.twig' %}

{% block css %}
    <style>
        .iframeWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }
        .iframeWrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
{% endblock %}

{% block jscustom %}
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        $('#evento_ini').datepicker({format: 'dd/mm/yyyy'});
        $('#evento_fim').datepicker({format: 'dd/mm/yyyy'});
        $('#created_ini').datepicker({format: 'dd/mm/yyyy'});
        $('#created_fim').datepicker({format: 'dd/mm/yyyy'});
    })

</script>
{% endblock %}

{% block wrapper %}
    <div class="title-block">
        <div class="container">
            {% include 'twig/content/block.title.twig' %}
            <h1 class="title font-secondary">Sala de imprensa: Notícias e eventos</h1>
            {{ function('the_breadcrumb') }}
        </div>
    </div>

    <div id="content-filter">
        <form type="GET" class="container">
            <div class="row">
                <div class="form-group col-md-9">
                    <label for="titulo">Título</label>
                    <input name="titulo" type="text" class="form-control" id="titulo" aria-describedby="" value="{{ get.titulo }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="tipo">Tipo</label>
                    <select name="tipo" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option value="">Escolha...</option>
                        <option value="1">Evento</option>
                        <option value="2">Notícia</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="data">Publicado a partir de:</label>
                    <input type="search" name="created_ini" id="created_ini" value="{{ get.created_ini }}" />
                </div>
                <div class="form-group col-md-3">
                    <label for="data">Publicado até:</label>
                    <input type="search" name="created_fim" id="created_fim" value="{{ get.created_fim }}" />
                </div>
                <div class="form-group col-md-3">
                    <label for="data">Eventos a partir de:</label>
                    <input type="search" name="evento_ini" id="evento_ini" value="{{ get.evento_ini }}" />
                </div>
                <div class="form-group col-md-3">
                    <label for="data">Eventos até:</label>
                    <input type="search" name="evento_fim" id="evento_fim" value="{{ get.evento_fim }}" />
                </div>
            </div>
            <div class="form-group mb-2">
                <button style="" type="submit" class="btn btn-light">Filtrar</button>
            </div>
        </form>
    </div>

    <div id="content-page" class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="list-group">
                    {% if rows %}
                        <div class="list-group-item  flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div>Resultados</div>
                                <small class="text-right">
                                    {{ rows|length }} resultado(s) encontrado(s)
                                </small>
                            </div>
                        </div>
                    {% endif %}

                    {% for row in rows %}
                        <a href="{{ row.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex w-100 justify-content-start">
                                    <img class="mr-2" src="{{ row.image }}">
                                    <div>
                                        <strong class="">
                                            {{ row.title }}
                                        </strong><br/>
                                        {% if row.type == 1%}
                                            <small>Evento</small>
                                        {% else %}
                                            <small>Notícia</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <small>{{ row.created|date('d/m/Y')|capitalize }} as {{ row.created|date('H') }}hs</small>
                            </div>

                        </a>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-3">
                <div class="bg-block mb-3">
                    <div class="p-3">
                        <a href="{{ WWW4_PATH }}/comunicacao/content/new">Divulgue seu evento</a>
                    </div>
                </div>
                <!--
                <div class="bg-block mb-3">
                    <div class="p-3">
                        <strong>Inscrever-se na newsletter do IA</strong>
                    </div>
                </div>
                <div class="bg-block mb-3">
                    <div class="p-3">
                        <strong>Acompanhar salas e aulas</strong>
                    </div>
                </div>
-->
                <div class="bg-block">
                    <div class="pt-3 pl-3 pr-3 pb-0">
                        <strong>Seção de programação visual e comunicação</strong>
                    </div>
                    <div class="pt-1 pl-3 pr-3 pb-2">

                        <p>19 3521-6560<br/>
                        <a href="mailto:rpia@unicamp.br">rpia@unicamp.br</a></p>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
