{% import _self as me %}


{% if contents.defesas_anteriores is not empty  or contents.defesas is not empty %}
    <section>
        {% if contents.defesas is not empty %}
            <div class="block-title mb-2">
                <a href="{{ bloginfo("url") }}/defesas" class="title">Próximas Defesas</a>
            </div>

            <div class="block-content">
                <div class="container">

                    <div class="row">
                        {% for defesa in contents.defesas %}
                            {{ me.card_defesa(defesa) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    </section>
{% endif %}

{% macro card_defesa(defesa) %}
    <div class="card-defesa card-home d-flex flex-row">
        <div class="calendar">
            <div class="date">
                <span class="month">{{ defesa.data|date('M') }}</span>
                <span class="day">{{ defesa.data|date('d') }}</span>
            </div>
            <div class="type">
                <span>{{ defesa.cod_nivel_curso }}</span>
            </div>
        </div>
        <div class="description">
            <a href="../{{ defesa.link }}">
                <div class="title"><strong>{{ defesa.titulo }}</strong></div>
                <div class="author"><span class="label c-pg">Aluno: </span> {{ defesa.nome }}</div>
                <div class="orientador"><span class="label c-pg">Orientador: </span> {{ defesa.orientador }}</div>
                <small class="location">{{ defesa.local }}</small>
            </a>
        </div>
    </div>
{% endmacro %}