{% import _self as me %}

{% if contents is defined and contents.noticias is not empty %}

    {% if lang == 'pt' %}{% set news = 'Notícias' %}{% endif %}
    {% if lang == 'en' %}{% set news = 'News' %}{% endif %}
    {% if lang == 'es' %}{% set news = 'Noticias' %}{% endif %}

    <section class="mb-4">
        <div class="block-title mb-2">
            <a href="{{ bloginfo('url') }}/content" class="title">Últimas Notícias </a>
        </div>

        <div class="card-defesa card-home d-flex flex-column m-0">
            {% for item in contents.noticias %}
                {{ me.news(item) }}
            {% endfor %}
        </div>
    </section>
{% endif %}

{% macro news(item)%}
    {% if item.slideshow is not empty %}
        {% set image = item.slideshow %}
    {% else %}
        {% set image = item.image %}
    {% endif %}

    <a class="d-flex flex-column" href="{{ bloginfo('url') }}content/{{ item.id }}" >
        <div class="text p-2">
            <span class="title">{{ item.title }}</span>
            <span class="chamada">{{ item.chamada }}</span>
        </div>
    </a>
{% endmacro %}

{% macro news2(category) %}

    {% for row in category.rows %}
        <div class="post-block col-md-4 p-2">
            <div class="text p-3 d-flex flex-column">
                <a href="categoria/{{ category.name }}" class="mb-1">
                    <small class="tag bg-{{ category.name }}">{{ category.label }}</small>
                </a>
                <a href="{{ row.link }}">
                    <span class="title">{{ row.title }}</span>
                </a>

            </div>
        </div>

    {% endfor %}

{% endmacro %}

