{% extends 'twig/page-vue.twig' %}

{% block css %}
<style>
    .block-title {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content_sidebar %}
    <div class="row">
        <div id="menu-lateral" class="col-md-4">
            {% include 'twig/cpg/block.news.twig' %}
            {% include 'twig/cpg/block.defesas.twig' %}
        </div>
        <div class="col-md-8">

        </div>
    </div>

{% endblock %}

