{% extends 'twig/base.twig' %}

{% block wrapper %}
    <div class="title-block">
        <div class="container">
            <div class="type">
                <a class="c-white" href="{{ bloginfo("url") }}">IA</a> |
                <a class="c-white" href="../">Defesas de teses</a>
            </div>
            <h1 class="title font-secondary">
                {{ content.titulo }}
            </h1>
            {{ function('the_breadcrumb') }}

        </div>
    </div>
    <div class="container">
        <div class="content-page row">
            <div class="col-md-6">
                <div class="card-content">
                    <div class="padding-20">
                        <div id="content-details">
                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1">
                                    <h2>
                                        {{ content.descNivel }}
                                    </h2>
                                </div>
                            </div>

                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-green-sec"><i class="fas fa-user"></i></div>
                                <div class="p-1">
                                    <strong>Orientando</strong>
                                    <br>{{ content.nome }}
                                </div>
                            </div>
                            <br/>

                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-green-sec"><i class="fas fa-users"></i></div>
                                <div class="p-1">
                                    <strong>Orientador</strong>
                                    <br>{{ content.orientador }}
                                </div>
                            </div>
                            <br/>

                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-red"><i class="far fa-calendar"></i></div>
                                <div class="p-1">
                                    <strong>Data</strong>
                                    <br>{{ content.data|date('D')|capitalize }},
                                    {{ content.data|date('d') }} de {{ content.data|date('M') }}
                                    de {{ content.data|date('Y') }} as {{ content.hora }}hs
                                </div>
                            </div>
                            <br/>
                            <div class="d-flex align-content-start flex-wrap justify-content-start">
                                <div class="p-1 c-orange"><i class="fas fa-map-marker"></i></div>
                                <div class="p-1">
                                    <strong>Local</strong>
                                    <br>{{ content.local }}
                                </div>
                            </div>
                            {% if content.linkVideoconferencia %}
                                <div class="d-flex align-content-start flex-wrap justify-content-start">
                                    <div class="p-1 c-orange"><i class="fas fa-video"></i></div>
                                    <div class="p-1 ">
                                        <strong class="mb-2"> Link de acesso à transmissão ao vivo</strong>
                                        <br/>
                                        <a class="btn btn-ia" target="_blank" href="{{ content.linkVideoconferencia }}">
                                            Assistir transmissão
                                        </a>
                                    </div>
                                </div>
                                {% if content.link_gravacao %}
                                    <div class="d-flex align-content-start flex-wrap justify-content-start">
                                        <div class="p-1 c-orange"><i class="fas fa-video"></i></div>
                                        <div class="p-1">
                                            <strong class="pb-2">Gravação</strong>
                                            <br>
                                            <a class="btn btn-ia" target="_blank" href="{{ content.link_gravacao }}">Assistir defesa</a>
                                            {% if content.link_gravacao2 is not empty %}
                                                <a class="btn btn-ia" target="_blank" href="{{ content.link_gravacao2 }}">Assistir defesa (parte 2)</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="d-flex align-content-start flex-wrap justify-content-start">

                                    <div class="p-1">
                                        <small>
                                            O link da transmissão ao vivo pode ser acessado apenas por usuários logados
                                            em suas contas institucionais da Unicamp (domínios "@dac.unicamp.br" e "@unicamp.br").
                                            A fim de atender ao público em geral, que não tenha acesso a contas acadêmicas,
                                            as gravações das defesas serão disponibilizadas, nesta mesma página, em
                                            até dois dias úteis após a realização da atividade. As apresentações são
                                            divididas em dois arquivos, que estarão abertos à visualização por um dia.

                                        </small>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
                <br/>
                <a href="{{ bloginfo("url") }}" class="btn btn-ia">Home</a>
                <a href="{{ bloginfo("url") }}/defesas" class="btn btn-ia">Defesas anteriores</a>
                <a href="{{ bloginfo("url") }}/defesas" class="btn btn-ia">Próximas defesas</a>

            </div>

            <div class="col-md-6">
                <div class="body-block">
                    <strong>Resumo</strong>
                    {{ content.resumo|raw }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}