{% extends 'twig/base.twig' %}
{% import _self as me %}

{% block wrapper %}
    <div class="title-block">
        <div class="container">
            <div class="type">
                <a class="c-white" href="{{ bloginfo("url") }}">IA</a> |
                <a class="c-white" href="{{ bloginfo("url") }}/defesas">Defesas de teses</a>
            </div>
            <h1 class="title font-secondary">
                Próximas defesas
            </h1>
            {{ function('the_breadcrumb') }}

        </div>
    </div>
    <div class="container">
        <section id="defesas-section" class="home-section bg-section">

            <div class="block-content">
                <div class="row">
                    {% for defesa in defesas %}
                        <div class="col-md-4 col-xs-12">
                            {{ me.card_defesa(defesa) }}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>


    </div>

{% endblock %}

{% macro card_defesa(defesa) %}
    <div class="card-defesa card-home d-flex flex-row">
        <div class="calendar">
            <div class="date">
                <span class="month">{{ defesa.data|date('M') }}</span>
                <span class="day">{{ defesa.data|date('d') }}</span>
            </div>
            <div class="type">
                <span>{{ defesa.cod_nivel_curso }}</span>
            </div>
        </div>
        <div class="description">
            <a href="{{ defesa.link }}">
                <div class="title">{{ defesa.titulo }}</div>
                <div class="author"><span class="label">Aluno: </span> {{ defesa.nome }}</div>
                <div class="orientador"><span class="label">Orientador: </span> {{ defesa.orientador }}</div>
                <small class="location">{{ defesa.local }}</small>
            </a>
        </div>
    </div>
{% endmacro %}