/*
Theme Name: Subsites
Description: Tema dos Subsites do Intituto de Artes
Author: Instituto de Artes
Author URI: http://www.iar.unicamp.br
*/

.ajustamenu-mobile{
    width:100%; 
}

.mobile-nav{
    width:20%; 
    float:left;
}

.menu-btn span {
    display: block;
    width: 80px;
    height: 10px;
    margin: 14px 0;
    background: white;
    z-index: 1;
}

#btn-menu-principal-mobile{
    background: #8e0077;
    border: none;
}


.menu-btn div {
    position: absolute;
    left: 20px;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 1;
}
 
.responsive-menu{
    display: none;
}

.responsive-submenu{
    display: none;
}
 
.expand {
    display: block !important; 
}
 
.open-menu-link{
 display: none;
 position: absolute;
 right: 15px;
 top:0;
 line-height: 55px;
 font-size: 30px;
 cursor: pointer;
}
 
li .sub-menu{
 display: none;
}
 
.visible {
 display: block !important;
}

        
@media screen and (min-width: 1px) and (max-width: 991px) { 
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
    }
    #s {
        height: 68px;
        font-size: 28px;
    }
    #btnpesq {
        height: 68px;
        width: 68px;
    }
    #icopesq {
        font-size: 50px;
    }
    .lang-item img {
        width: 50px; 
        margin: 20pt; 
        height: 50px;
    }
    header form#pesquisar {
	position:absolute;
	top:0px;
	right:90px;
    }
    footer p.endereco {
        font-size: 36px;
	float:left;
	text-align:left;
	padding-left:80px;
	background:url("img/logo-footer.png") left top no-repeat;	
    }    
    
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
      background-color: #8e0077;
      border-color: #ffffff;
    }
    
    header nav ul li a {
        height: 120px;
	color:#fff;
	display:block;
	padding:18px;
	font-family:Verdana;
	font-size:42px;
	border-top:20px solid #fff;
        
    }
    
    header nav ul li ul li a {
	height: 105px;
	color:#fff;
	display:block;
	font-family:Verdana;
	font-size:38px;
	border-top:7px solid #fff;
        padding-left:75px;
    }
    
    header nav ul li ul li ul li a {
	height: 90px;
	color:#fff;
	display:block;
	font-family:Verdana;
	font-size:34px;
	border-top:3px solid #fff;
        padding-left:150px;
    }
    
    
    header nav ul li ul {
	display:none;
	top:46px;
	left:0;
	background-image:url("img/background-nav.png");
	background-position:left top;
	background-repeat:repeat;
	background-color:#8e0077;
	padding-top:10px;
	
	transition: all 0.2s ease;
    }
    
    span.glyphicon {
        font-size: 30px;
    }
    
    a:hover, a:focus {
        color: #fff;
    }
    
    .footer-mobile {
        width:980px;
    }
    
    .container {
	width:980px;
	word-wrap:break-word;
    }
    
    div#menu-principal li a {
	padding:20px 30px;
	display:block;
	color:#333;
	font-family:"Trebuchet MS";
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {
    #mobile {
        display: none;
    }
    #desktop {
        display: block;
    }
    header {
	background:#8e0077 url("img/background-body.png") left top repeat-x;
        position:relative;
	z-index:999;
    }
    .lang-item img {
        width: 18px; 
        margin: 5pt; 
        height: 18px;
    }
    header form#pesquisar {
	position:absolute;
	top:10px;
	right:90px;
    }
    footer p.endereco {
        font-size: 14px;
	float:left;
	text-align:left;
	padding-left:80px;
	background:url("img/logo-footer.png") left top no-repeat;	
    }
    
    a {
        color:#039;
    }
    
    header nav ul li a {
	color:#fff;
	display:block;
	/*padding-top:16px;*/
	padding:16px 9px 5px 9px;
	font-family:Verdana;
	/*font-family:"Trebuchet MS";*/
	/*text-transform:uppercase;*/
	font-size:14px;
	text-decoration:none !important;
	/*border-top:5px solid #000;*/
	border-top:5px solid #fff;
	
	transition: all 0.2s ease;
    }
    
    header nav ul li ul li a {
	white-space:nowrap;
	padding-top:10px;
	padding-bottom:10px;
	border:none;
    }
    
    header nav ul li ul {
	display:none;
	position:absolute;
	top:46px;
	left:0;
	background-image:url("img/background-nav.png");
	background-position:left top;
	background-repeat:repeat;
	background-color:#8e0077;
	padding-top:10px;
	
	transition: all 0.2s ease;
    }
    
    header nav ul li ul li ul {
	top:0;
	padding-top:0;
	padding:5px;
	background:#8e0077;

    }
    
    .container {
	width:1010px;
	word-wrap:break-word;
    }
    
    div#menu-principal li a {
	padding:10px 15px;
	display:block;
	color:#333;
	font-family:"Trebuchet MS";
    }
}

#form-pesq{
    width:80%;
    float:left;
}

#logo-ia-mobile {
	width:120px;
	height:80px;
	position:absolute;
	top:5px;
	left:20px;
}

#titulo-mobile {
	left:140px;
        position:absolute;
}

#texto_topo {
	width:256px;
	height:100px;
	position:absolute;
	top:0px;
	left:140px;
}

header #logo-mobile {
	width:68px;
	height:41px;
	background:#fff url("img/logo.png") no-repeat;
}

.config {
   height:100px;
}

header div#unicamp-mobile {
	width:77px;
	height:80px;
	position:absolute;
	top:5px;
	right:15px;
}

.pesquisar-mobile {
  width: 70%;
  float: right;
  top:10px;
}

#versaoDesktop {
    font-size:25px;
}

header div#versao {
	width:200px;
	height:41px;
	position:absolute;
	top:27px;
	right:400px;
}

header div#linguagem {
	width:330px;
	height:41px;
	position:absolute;
	top:5px;
	right:230px;
}



.lang-item {
    display: inline;
}

#divpesq{
    height:91px;
    background:#8e0077;
}

#divsobpesq{
    width:90%;
}

.corsite{
    background:#8e0077;
}

a {
	color:#039;
}
a, button {
	outline:none !important;
}
a:focus, a:active, a:visited {
	outline:none;
	text-decoration:none;	
}
h1, h2, h3, h4, h5, h6 {
	font-family:"Trebuchet MS";
}
h1 {
	font-size:24px;
	line-height:1;
	margin-top:0;
}
h2, h3 {
	/*color:#D5292D;*/
}
h2 {
	font-size:20px;	
}
h3 {
	font-size:16px;
}
ul, ol {
	padding:0;
	margin:0 0 10px 25px;
}
.list-unstyled {
	margin:0;	
}
.panel .list-group {
	margin-left:0;
}
.list-inline {
	margin-left:0;	
}
/*
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width:980px;
  padding:0 10px;
}
*/


/*
.container > .row-fluid {
	padding-left:15px;
	padding-right:15px;
}*/

/* tabs */
ul.nav-tabs {
	margin:0 0 15px 0;	
}
/* tabs-left */
.tabs-left ul.nav-tabs {
	float:left;
	margin:0;
	padding:0;
	border:none;
}
.tabs-left ul.nav-tabs li {
	float:none;
	margin-bottom:2px;
}
.tabs-left ul.nav-tabs li a {
	margin-right:-1px;
	border-radius:4px 0 0 4px;
	text-align:right;
}
.tabs-left ul.nav-tabs li.active a {
	border-color:#ddd #fff #ddd #ddd !important;
}
.tabs-left ul.nav-tabs li a:hover {
	border-color:transparent #ddd transparent transparent;
}
.tabs-left div.tab-content {
	overflow:hidden;
	width:auto;
	padding-left:19px;
	border-left:1px solid #ddd;
}
/* tabs-left */

table.table th,
table.table td {
	vertical-align:middle;	
}
table.table-center th,
table.table-center td {
	text-align:center;
}
div.padding {
	padding:0 10px;	
}
ul#breadcrumbs {
	border-bottom:1px solid #eee;
	padding:0 0 10px 0;
}
ul#breadcrumbs li {
	padding:0 3px;	
}
ul#breadcrumbs li:first-child {
	padding-left:0;
}
body.events-single ul#breadcrumbs,
body.events-archive ul#breadcrumbs {
	/*display:none;*/
}
/*header {
	background:#8e0077 url("img/background-body.png") left top repeat-x;
	position:relative;
	z-index:999;
}*/
header div.container {
	position:relative;
}
header #logo {
	width:93px;
	height:93px;
	display:block;
	text-indent:-500000em;
	overflow:hidden;
	/*background:#fff url("img/logo.png") 23px 20px no-repeat;*/
	background:#fff url("img/logo.png") 3px 33px no-repeat;
	float:left;
	margin:0;
	padding:0;
}
header div#unicamp {
	width:37px;
	height:41px;
	position:absolute;
	top:5px;
	right:20px;
}
/*header form#pesquisar {
	position:absolute;
	top:10px;
	right:90px;
}*/

header nav {
	position:relative;
	z-index:2;

	height:46px;
}
header nav#nav-main {
	float:left;
	margin:47px 0 0 0;
	z-index:3;
}
header nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
header nav ul li {
	float:left;
	position:relative;
}
/*header nav ul li a {
	color:#fff;
	display:block;
	padding:16px 9px 5px 9px;
	font-family:Verdana;
	font-size:14px;
	text-decoration:none !important;
	border-top:5px solid #fff;
	transition: all 0.2s ease;
}*/
header nav > ul > li > a {
	/*text-transform:uppercase;*/
}
header nav > ul > li:hover > a,
header nav ul li.selected > a {
	/*background:#000;*/
	color:#eee;
	border-top:5px solid #eee;
	/*text-decoration:underline;*/
	/*background:#670056;*/
	background:url("img/background-nav.png") left top repeat;
}
/*header nav ul li ul {
	display:none;
	position:absolute;
	top:46px;
	left:0;
	background-image:url("img/background-nav.png");
	background-position:left top;
	background-repeat:repeat;
	background-color:#8e0077;
	padding-top:10px;
	
	transition: all 0.2s ease;
}*/
/*
header nav ul li:last-child ul {
	left:auto;
	right:0;
}
*/
header nav ul li ul li {
	width:100%;
}
/*header nav ul li ul li a {
	white-space:nowrap;
	padding-top:10px;
	padding-bottom:10px;
	border:none;
}*/
header nav ul li:hover ul li a {
	/*text-decoration:none;*/
	color:#fff;
}
header nav ul li ul li:hover a {
	/*text-decoration:underline;*/
	background:#8e0077;
}
/*header nav ul li ul li ul {
	top:0;
	padding-top:0;
	padding:5px;
	background:#8e0077;

}*/
header nav ul li ul li:hover ul li a {
	/*text-decoration:none;*/
	color:#fff;
}
/*header nav ul li ul li ul li a {
	border-left:5px solid #8e0077;
}*/
header nav ul li ul li ul li:hover a {
	/*text-decoration:underline;*/
	/*color:#ffe8b3;*/
	/*border-left:5px solid #eee;*/
	/*background:#670056;*/
	background:url("img/background-nav.png") left top repeat !important;
}







html.no-touch header nav ul li ul {
	opacity:0;
	visibility:hidden;
	display:block;
}
html.touch header nav ul li ul {
	display:none;
}

html.no-touch header nav ul li:hover ul {
	opacity:1;
	visibility:visible;
}

html.no-touch header nav ul li ul li ul {
	opacity:0 !important;
	visibility:hidden !important;
}
html.no-touch header nav ul li ul li:hover ul {
	opacity:1 !important;
	visibility:visible !important;
}


header nav ul.show {
	display:block !important;	
}



div#titulo {
	background:#034c99;
	height:41px;
	margin:5px 0 0 0;
	color:#fff;
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-transform:uppercase;
	font-size:30px;
        width: 100%;
}



div#slider-wrapper {
	height:300px;
	overflow:hidden;
	position:relative;
	z-index:1;
}
div#slider-wrapper div.nivo-controlNav {
	position:absolute;
	bottom:15px;
	right:15px;
	z-index:999;
	padding:0;
}
div#slider-wrapper div.nivo-controlNav a {
	display:block;
	width:17px;
	height:17px;
	text-indent:-500000em;
	overflow:hidden;
	background-image:url("img/bullets.png");
	background-position:left top;
	background-repeat:no-repeat;
	float:left;
	margin:0 5px 0 0;
}
div#slider-wrapper div.nivo-controlNav a.active {
	background-position:left bottom;
}


div#content {
	margin-top:20px;
	padding-bottom:50px;
	min-height:500px;	
}

p#breadcrumbs a {
	color:#374e8a;	
}



footer {
	background:#333;
	color:#fff;
	min-height:70px;
}
footer div {
	padding-top:20px !important;
	padding-bottom:20px !important;
}
footer p {
	float:right;
	text-align:right;
}
/*footer p.endereco {
	float:left;
	text-align:left;
	padding-left:80px;
	background:url("img/logo-footer.png") left top no-repeat;	
}*/






aside h2 {
	background:#707070;
	color:#fff;
	margin:0 0 20px 0;
	padding:5px 15px;
	font-family:"Trebuchet MS";
	font-weight:normal;
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
	font-size:16px;
}
aside section {
	/*min-height:62px;*/
	border-top:1px solid #ccc;
	padding:15px 0;
}
aside section.first {
	padding-top:0;
	border:none;
}
aside section > a {
	float:left;
	margin:0 10px 0 0;
}
aside section h3 {
	margin:0;
	font-size:14px;
	line-height:1.2;
}




div.listagem section {
	margin:15px 0 0 0;
	padding:15px 0 0 0;
	min-height:77px;
	border-top:1px solid #ddd;
}
div.listagem section.first {

}
div.listagem section a.imagem {
	float:left;
	margin:0 10px 0 0;
}
div.listagem section h2 {
	margin-bottom:5px;	
}
div.listagem section p {

}

div.listagem nav {
	border-top:1px solid #ddd;
}

body.page-id-3603 div#content ol > li { /* contato */
	margin-bottom:20px;
}


.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

nav#areas-mobile {
	margin:30px 0;
	border:1px solid #bebebe;
	border-left:0;
	border-right:0;
        border-top:0;
	padding:0px;
}


div#menu-principal li {
	padding:0;
	background:none;
}

div#menu-principal li a:hover {
	background:#eee;
	text-decoration:none;
}
div#menu-principal li.active a {
	color:#fff;
	background:#8e0077;
}


.chat-suporte{
    margin-bottom: 0px;
    border-bottom: none;
}
